{%- assign dataViewGrid = 'grid' -%}
{%- assign dataViewList = 'list' -%}
{%- if template contains '.fullwidth' -%}
    {%- assign dataViewGrid = 'fullwidth.grid' -%}
    {%- assign dataViewList = 'fullwidth.list' -%}
{%- endif -%}
<div class="collView" style="display:none">
    <button 
        class="changeView changeViewGrid{% unless template contains 'list' %} changeViewActive{% endunless %}" 
        type="button" 
        title="{{ 'collections.general.grid_view' | t }}" 
        data-view="{{ dataViewGrid }}">
        <span class="iconChangeView">
            <span class="fa fa-th"></span>
            <span class="hidden">{{ 'collections.general.grid_view' | t }}</span>
        </span>
    </button>
    <button 
        class="changeView changeViewList{% if template contains 'list' %} changeViewActive{% endif %}" 
        type="button" 
        title="{{ 'collections.general.list_view' | t }}" 
        data-view="{{ dataViewList }}">
        <span class="iconChangeView">
            <span class="fa fa-list"></span>
            <span class="hidden">{{ 'collections.general.list_view' | t }}</span>
        </span>
    </button>
</div>
{%- unless template == 'collection.fullwidth' -%}
    {%- assign minPage = 1 -%}
    {%- assign maxPage = paginate.page_size | times:paginate.current_page -%}
    {%- if paginate.current_page > 1 -%}
        {%- assign currentPage = paginate.current_page | minus:1 -%}
        {%- assign minPage = currentPage | times: paginate.page_size -%}
    {%- endif -%}
    {%- if maxPage > paginate.items -%}
        {%- assign maxPage = paginate.items -%}
    {%- endif -%}
    <div style="display:none" class="collProductCount">{{ 'collections.paginate.showing_html' | t: minPage:minPage, maxPage:maxPage, itemsPage:paginate.items }}</div>
{%- endunless -%}
<div class="collSortBy">
    <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
    <select name="SortBy" id="SortBy" class="form-control">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
    </select>
</div>