<div class="velaSearchTop search-margin">
  <a href="#" class="jsDrawerOpenRightss" style="padding-top:2px">
    <img class="search-icon" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/ma.png?17153037545361023995">
    <mobiletext class="mobiletext">SEARCH</mobiletext>
  </a>
</div>