
  {% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
    {% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
    {% assign login_html = 'layout.header.login_html' | t:fullname:fullname %}
    {% assign logout = 'layout.header.logout' | t %}
    {% assign login = 'layout.header.login' | t %}
    {% assign register = 'layout.header.register' | t %}
    {% if customer  %}
  		<div class="customer_section">
          <div class="customer_aside_main" style="height: 200px;">
            <h4 class="text-center">{{ login_html }}</h4>
            <ul class="nav proTabNav text-center">
              <li class="active">
                <a href="#nav-history" data-toggle="tab">history</a>
              </li>
              <li>
                <a href="#nav-addressbook" data-toggle="tab">address book</a>
              </li>
            </ul>
          </div>
          <div class="navTabContent tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
              <div id="history_section">
                  <div  class="aside-content">
                    <div class="accountOrderBox">
                      <h4 class="accountHeading">{{ 'customer.orders.title' | t }}</h4>
                      <div class="orderBoxContent">
                        {% paginate customer.orders by 20 %}
                        {%- if customer.orders.size > 0 -%}
                        <div class="table-responsive">
                          <table class="table tableOrder table-bordered">
                            <thead>
                              <tr>
                                <th>{{ 'customer.orders.order_number' | t }}</th>
                                <th>{{ 'customer.orders.date' | t }}</th>
                                <th>{{ 'customer.orders.payment_status' | t }}</th>
                                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                                <th>{{ 'customer.orders.total' | t }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in customer.orders %}
                              <tr>
                                <td>{{ order.name | link_to: order.customer_url }}</td>
                                <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
                                <td>{{ order.financial_status_label }}</td>
                                <td>{{ order.fulfillment_status_label }}</td>
                                <td>{{ order.total_price | money }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        {%- else -%}
                        <div class="noAccountInfo">
                          <p>{{ 'customer.orders.none' | t }}</p>
                        </div>
                        {%- endif -%}
                        {%- if paginate.pages > 1 -%}
                        <div class="pagination">
                          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                        </div>
                        {%- endif -%}
                        {% endpaginate %}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-addressbook" role="tabpanel" aria-labelledby="nav-addressbook-tab">
              <!-- List Address. Moded by: duchv -->
                {%- if customer.addresses.size > 0 -%}
                    <div class="addressList">
                        <div class="addressListContent">
                            {% paginate customer.addresses by 4 %}
                                <div class="rowFlex rowFlexMargin">
                                    {% for address in customer.addresses %}
                                        {%- assign addressDefault = false -%}
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="boxAccount addressBox">
                                                {% if address == customer.default_address %}
                                                    {%- assign addressDefault = true -%}
                                                    <span class="labelDefault">
                                                        {{ 'customer.addresses.default' | t }}
                                                    </span>
                                                {% endif %}
                                                <h4 class="customerName">{{ address.first_name }} {{ address.last_name }}</h4>
                                                <ul class="addressInfo list-unstyled">
                                                    <li>
                                                        <label>{{ 'customer.addresses.phone' | t }}:</label> {{ address.phone }}
                                                    </li>
                                                    {% if address.company != blank %}
                                                        <li><label>{{ 'customer.addresses.company' | t }}:</label> {{ address.company }}</li>
                                                    {% endif %}
                                                    <li>
                                                        <label>{{ 'customer.addresses.address' | t }}:</label> 
                                                        {{ address.address1 }}
                                                        , {{ address.city | capitalize }}
                                                        {% if address.province_code %}
                                                            , {{ address.province_code | upcase }}
                                                        {% endif %}
                                                        &nbsp;{{ address.zip | upcase }}
                                                    </li>
                                                    {%- if address.address2 != blank -%}
                                                        <li><label>{{ 'customer.addresses.address2' | t }}:</label> {{ address.address2 }}</li>
                                                    {%- endif -%}
                                                    <li>
                                                        <label>{{ 'customer.addresses.country' | t }}:</label> {{ address.country }}
                                                    </li>
                                                </ul>
                                                <div class="addressBoxFunction">
                                                    {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}
                                                    {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
                                                </div>
                                                <div id="EditAddress_{{ address.id }}" class="formAccount formEditAddress" style="display:none;">
                                                    {% form 'customer_address', address %}
                                                        <h4 class="velaAccountTitle velaAccountTitleSmall">
                                                            <span>{{ 'customer.addresses.edit_address' | t }}</span>
                                                        </h4>
                                                        <div class="formContent">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                                                                        <input type="text" id="AddressFirstName_{{ form.id }}" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                                                                        <input type="text" id="AddressLastName_{{ form.id }}" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                                                                <input type="text" id="AddressCompany_{{ form.id }}" class="form-control" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                                                <input type="text" id="AddressAddress1_{{ form.id }}" class="form-control" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                                                                <input type="text" id="AddressAddress2_{{ form.id }}" class="form-control" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                                                <input type="text" id="AddressCity_{{ form.id }}" class="form-control" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                                                                <select id="AddressCountry_{{ form.id }}" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                                            </div>
                                                            <div class="form-group" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                                                                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                                                                <select id="AddressProvince_{{ form.id }}" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                                                        <input type="text" id="AddressZip_{{ form.id }}" class="form-control" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                                                        <input type="tel" id="AddressPhone_{{ form.id }}" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="velaCheckbox">
                                                                    {% if addressDefault %}
                                                                        <input type="checkbox" name="address[default]" checked>
                                                                    {% else %}
                                                                        <input type="checkbox" id="address_default_address_{{ form.id }}" name="address[default]">
                                                                    {% endif %}
                                                                    <label for="address_default_address_{{ form.id }}">
                                                                        {{ 'customer.addresses.set_default' | t }}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-button">
                                                                <input type="submit" class="btn btnVelaOne" value="{{ 'customer.addresses.update' | t }}">
                                                            </div>
                                                            <div class="form-buttonCancel">
                                                                <a class="velaAccountButton" href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                                            </div>
                                                        </div>
                                                    {% endform %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if paginate.pages > 1 %}
                                    {% include 'vela-pagination' %}
                                {% endif %}
                            {% endpaginate %}
                        </div>
                    </div>
                {%- endif -%}
  
  				<div class="velaFormAccount">
                    <div class="velaFormAddress formAccount">
                        <div class="formContent">
                            {%- unless customer.addresses.size > 0 -%}
                                <div class="formAccountText">
                                    <p>{{ 'customer.addresses.noaddress' | t }}</p>
                                </div>
                            {%- endunless -%}
                            <div class="form-button">
                                <a href="#" class="velaAccountButton velaAddAddress" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
                            </div>
                            <div id="AddAddress" class="formAddAddress" style="display: none;">
                            {% form 'customer_address', customer.new_address %}
                                <h2 class="velaAccountTitle velaAccountTitleSmall">
                                    <span>{{ 'customer.addresses.add_new' | t }}</span>
                                </h2>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressFirstNameNew" class="hidden">{{ 'customer.addresses.first_name' | t }}</label>
                                            <input type="text" id="AddressFirstNameNew" class="form-control" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.first_name' | t }}" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressLastNameNew" class="hidden">{{ 'customer.addresses.last_name' | t }}</label>
                                            <input type="text" id="AddressLastNameNew" class="form-control" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.last_name' | t }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="AddressCompanyNew" class="hidden">{{ 'customer.addresses.company' | t }}</label>
                                    <input type="text" id="AddressCompanyNew" class="form-control" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.company' | t }}">
                                </div>
                                <div class="form-group">
                                    <label for="AddressAddress1New" class="hidden">{{ 'customer.addresses.address1' | t }}</label>
                                    <input type="text" id="AddressAddress1New" class="form-control" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.address1' | t }}">
                                </div>
                                <div class="form-group">
                                    <label for="AddressAddress2New" class="hidden">{{ 'customer.addresses.address2' | t }}</label>
                                    <input type="text" id="AddressAddress2New" class="form-control" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.address2' | t }}">
                                </div>
                                <div class="form-group">
                                    <label for="AddressCityNew" class="hidden">{{ 'customer.addresses.city' | t }}</label>
                                    <input type="text" id="AddressCityNew" class="form-control" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.city' | t }}">
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                                            <select id="AddressCountryNew" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" id="AddressProvinceContainerNew" style="display:none">
                                        <div class="form-group">
                                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                                            <select id="AddressProvinceNew" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressZipNew" class="hidden">{{ 'customer.addresses.zip' | t }}</label>
                                            <input type="text" id="AddressZipNew" class="form-control" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.zip' | t }}">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="AddressPhoneNew" class="hidden">{{ 'customer.addresses.phone' | t }}</label>
                                            <input type="tel" id="AddressPhoneNew" class="form-control" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.phone' | t }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="velaCheckbox">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="address_default_address_new">
                                            {{ 'customer.addresses.set_default' | t }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-button">
                                    <input type="submit" class="btn btnVelaOne" value="{{ 'customer.addresses.add' | t }}">
                                </div>
                                <div class="form-buttonCancel">
                                    <a class="velaAccountButton" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                </div>
                            {% endform %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
		</div>
  
  		<div class="btn btnVelaOne" style="display:block;width:90%;margin:10px auto;border-radius:5px;">
          {{ logout | customer_logout_link }}
  		</div>
  		
  
  	{% else %}
  
        <div id="account_section">
          <div id="login_section">
            <div class="aside-content">
              <div class="offcanvasTitle">
                <h2 class="fontWhite">Welcome Back!</h2>
                <p class="fontWhite" style="margin-bottom:2em">Please login your account</p>
              </div>
              <div id="frmAccountTabLogin">
                <div id="ResetPassword" class="resetPassword alert alert-success hidden">
                  {{ 'customer.recover_password.success' | t }}
                </div>
                <div id="CustomerLoginForm" class="formAccount formAccountLogin">
                  {% form 'customer_login' %}
                  <div class="formContent">
                    <input type="hidden" name="return_to" value="back" />
                    {%- if form.errors -%}
                    <div class="alert alert-danger">
                      {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}
                    <div class="form-group{% if form.errors contains 'email' %} has-error{% endif %}">
                      <label for="CustomerEmail" class="hidden">{{ 'customer.login.email' | t }}</label>
                      <input type="email" name="customer[email]" id="CustomerEmail" class="form-control" placeholder="{{ 'customer.login.email' | t }}" required {% if isLogin %}autofocus{% endif %}>
                    </div>
                    {%- if form.password_needed -%}
                    <div class="form-group form-group--pasword{% if form.errors contains 'password' %} has-error{% endif %}">
                      <label for="CustomerPassword" class="hidden">{{ 'customer.login.password' | t }}</label>
                      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="form-control" placeholder="{{ 'customer.login.password' | t }}" required>
                    </div>
                    {%- endif -%}
                    <div class="form-button">
                      <input type="submit" class="btn btnVelaOne" value="Login">
                    </div>
                    
                    <div class="forgetPassword">
                      Don't have an account? <a id="offregister" href="#register_section" class="fontWhite" id="aside-register_btn">Register</a>
                    </div>
                    {%- if form.password_needed -%}
                    <div class="forgetPassword">
                      <a href="#recover" class="velaRecoverPassword fontWhite">{{ 'customer.login.forgot_password' | t }}</a>
                    </div>
                    {%- endif -%}
                  </div>
                  {% endform %}
                  
                  <br/>
                  <div class="oxi_login"><script src="//social-login.oxiapps.com/api/init?shop=cyrillworld.myshopify.com&type=static"></script></div>
                </div>
                <div id="RecoverPasswordForm" class="formAccount formAccountRecover hidden">
                  <h2 class="velaAccountTitle">
                    <span>{{ 'customer.recover_password.title' | t }}</span>
                  </h2>
                  {% form 'recover_customer_password' %}
                  <div class="formContent">
                    <div class="formAccountText">
                      <p>{{ 'customer.recover_password.subtext' | t }}</p>    
                    </div>
                    {%- if form.errors -%}
                    <div class="alert alert-danger">
                      {{ form.errors | default_errors }}
                    </div>
                    {%- endif -%}
                    {%- if form.posted_successfully? -%}
                    {%- assign resetPassword = true -%}
                    <script type="text/javascript">
                      $(document).ready(function() {
                        $('#ResetPassword').removeClass('hidden');
                      });
                    </script>
                    {%- endif -%}
                    <div class="form-group">
                      <label for="RecoverEmail" class="hidden">{{ 'customer.recover_password.email' | t }}</label>
                      <input type="email" value="" name="email" id="RecoverEmail" class="form-control" placeholder="{{ 'customer.recover_password.email' | t }}" required>
                    </div>
                    <div class="form-button">
                      <input type="submit" class="btn btnVelaOne" value="{{ 'customer.recover_password.submit' | t }}">
                      <div class="forgetPassword">
                        <a href="javascript:void(0)" class="velaAccountButton velaHideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
                      </div>
                    </div>
                  </div>
                  {% endform %}
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  
  
        <div id="register_section" class="hidden">
          <div  class="aside-content">
            <div class="offcanvasTitle">
              <h2 class="fontWhite">Welcome to Cyrill!</h2>
              <p class="fontWhite" style="margin-bottom:2em">Please login your account</p>
            </div>
            <div id="CustomerRegisterForm" class="formAccount formAccountRegister">
              {% form 'create_customer' %}
              <div class="formContent">
                {%- if form.errors -%}
                <div class="alert alert-danger">
                  {{ form.errors | default_errors }}
                </div>
                {%- endif -%}
                <div class="form-group">
                  <label for="FirstName" class="hidden">{{ 'customer.register.first_name' | t }}</label>
                  <input type="text" name="customer[first_name]" id="FirstName" class="form-control" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} required>
                </div>
                <div class="form-group">
                  <label for="LastName" class="hidden">{{ 'customer.register.last_name' | t }}</label>
                  <input type="text" name="customer[last_name]" id="LastName" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
                </div>
                <div class="form-group{% if form.errors contains 'email' %} has-error{% endif %}">
                  <label for="Email" class="hidden">{{ 'customer.register.email' | t }}</label>
                  <input type="email" name="customer[email]" id="Email" class="form-control" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} required>
                </div>
                <div class="form-group form-group--pasword{% if form.errors contains 'password' %} has-error{% endif %}">
                  <label for="CreatePassword" class="hidden">{{ 'customer.register.password' | t }}</label>
                  <input type="password" name="customer[password]" id="CreatePassword" class="form-control" placeholder="{{ 'customer.register.password' | t }}" required>
                  <a href="javascript:void(0)" class="velaShowPassword">{{ 'customer.account.show_password' | t }}</a>
                </div>
                <p>By creating an account, I accept Terms of Use and Privacy Policy.</p>
                <div class="form-button">
                  <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btnVelaOne">
                  <div class="forgetPassword">
                    <a href="javascript:void(0)" class="velaAccountButton btn_account">{{ 'customer.recover_password.cancel' | t }}</a>
                  </div>
                </div>
              </div>
              {% endform %}
            </div>
          </div>
          
        </div>
  
  
  
  
  
  
  
  	{% endif %}
  {% endif %}


<script>
  $(function() {
    $( document ).trigger( "enhance" );
    $('#offregister').on('click', function() {
      $('#account_section').addClass('hidden');
      $('#register_section').removeClass('hidden');
    });
    $('.btn_account').on('click', function() {
      console.log("hello");
      $('#offcanvas_account').css({'opacity': '1'});
      $('#CustomerLoginForm').removeClass('hidden');
      $('#account_section').removeClass('hidden');
      $('#RecoverPasswordForm').addClass('hidden');
      $('#register_section').addClass('hidden');
    });
  });
</script>