{{ 'vela-fonts.scss.css' | asset_url | stylesheet_tag }}
{{ 'plugin.css' | asset_url | stylesheet_tag }}
{{ 'vela-site.scss.css' | asset_url | stylesheet_tag }}
{{ 'bold.css' | asset_url | stylesheet_tag }}

