<nav class="velaPagination clearfix">
    <ul class="pagination">
        {% if paginate.previous %}
            <li class="pagiPrevious">
                <a href="{{ paginate.previous.url }}" title="{{ 'general.paginate.prev' | t }}">
                    <i class="fa fa-chevron-left"></i> <span>{{ 'general.paginate.prev' | t }}</span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span><i class="fa fa-chevron-left"></i> <span>{{ 'general.paginate.prev' | t }}</span></span>
            </li>
        {% endif %}
        {% for part in paginate.parts %}
            {% if part.is_link %}
                <li>
                    <a href="{{ part.url }}" title="">{{ part.title }}</a>
                </li>
            {% else %}
                {% if part.title == paginate.current_page %}
                    <li class="active"><span>{{ part.title }}</span></li>
                {% else %}
                    <li><span>{{ part.title }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if paginate.next %}
            <li class="pagiNext">
                <a href="{{ paginate.next.url }}" title="{{ 'general.paginate.next' | t }}">
                    <span>{{ 'general.paginate.next' | t }}</span> <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span><span>{{ 'general.paginate.next' | t }}</span> <i class="fa fa-chevron-right"></i></span>
            </li>
        {% endif %}
    </ul>
</nav>