<div class="velaTopLinks">
	{%- if section.settings.header_toplinks_title != blank -%}
		<div class="topLinksTitle" data-toggle="dropdown">
			<i class="icon-user"></i>
			<span>{{ section.settings.header_toplinks_title }}</span>
		</div>
	{%- endif -%}
	<div class="dropdown-menu">
		<ul class="list-inline list-unstyled">
			{% if shop.customer_accounts_optional or shop.customer_accounts_enabled %}
				{% capture fullname %}{{ customer.first_name }} {{ customer.last_name }}{% endcapture %}
				{% assign login_html = 'layout.header.login_html' | t:fullname:fullname %}
				{% assign logout = 'layout.header.logout' | t %}
				{% assign login = 'layout.header.login' | t %}
				{% assign register = 'layout.header.register' | t %}
				{% if customer  %}
					<li><a class="account" rel="nofollow" href="/account">{{ login_html }}</a></li>
					<li>{{ logout | customer_logout_link }}</li>
				{% else %}
					<li>{{ login | customer_login_link }}</li>
					<li>{{ register | customer_register_link }}</li>
				{% endif %}
			{% endif %}
			{% assign topbarMenu = section.settings.header_toplinks %}
			{% for itemMenu in linklists[topbarMenu].links %}
				<li><a href="{{ itemMenu.url }}" title="">{{ itemMenu.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>