<div id="velaProList" class="proList list">
    {% for product in collection.products %}
        {% include 'product-list-item' with '' %}
    {% else %}
        <div class="collNoProduct">
            <div class="alert alert-warning">
                {{ 'collections.general.no_matches' | t }}
            </div>
        </div>
    {% endfor %}
</div>