{%- if settings.ajax_cart_method == "drawer" -%}
	<div id="cartDrawer" class="drawer drawerRight drawer-top">
		<div class="drawerClose">
          <span class="drawerCartTitle">
	        {{ 'cart.general.title' | t }}
	    </span>
            <span class="jsDrawerClose"></span>
        </div>
	    
	    <div id="cartContainer"></div>
	</div>
{%- endif -%}