<div class="velaSearchTop">
    <div class="velaSearchIcon">
        <i class="icon-magnifier"></i>
        <span class="searchTopText">{{ 'general.search.submit' | t }}</span> 
    </div>
    <span class="searchClose"></span>
    <div class="searchBoxTop">
        <div class="seachBoxContainer">
          
                <span class="searchOverLayer"></span>
                <form class="velaFormSearch formSearch" action="/search" method="get">
                    <input type="hidden" name="type" value="product">
                    <input class="velaFormSearchInput form-control" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" />
                    <button class="btn velaFormSearchButton" type="submit">
                        <span class="btnSearchText">{{ 'general.search.submit' | t }}</span>
                        <i class="icon-magnifier"></i>
                    </button>
                </form>
         
        </div>
    </div>
</div>