<div id="velaProList" class="proList grid">
    <div class="velaFlexRow flexRow">
        {% for product in collection.products %}
            {% if intProColumns == 1 %}
                {% include 'product-grid-item' with 'col-xs-12' %}
            {% else %}
     
      {% if forloop.index == 1 %} <div class="velaProBlock col-xs-6 col-md-4">
   			{% include 'product-grid-item-first' with strGridItem %}
      </div>
      {% endif %}
      
      
      
      {% if forloop.index == 2 %} <div class="velaProBlock col-xs-6 col-md-8 hidden-xs" style="float: right; margin-top:15px;">
      
     			{% if page_title contains 'iPhone X'%}
                <img class="img-responsive-collection" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_0813_list233_03.jpg?10558425276239098679">            
                {% elsif page_title contains 'Plus'%}
                <img class="img-responsive-collection" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_0813_list222_03.jpg?10558425276239098679">            
                {% else %}
                <img class="img-responsive-collection" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_0813_list2_03.jpg?10558425276239098679">            
                {% endif %} 
      
      </div>
       {% endif %}
      
      
      {% if forloop.index > 1 %}
      
      {% include 'product-grid-item' with strGridItem %}
      
      {% endif%}
      
      
      
            {% endif %}
        {% else %}
            <div class="collNoProduct col-xs-12">
                <div class="alert alert-warning">
                    {{ 'collections.general.no_matches' | t }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>