<li class="hasMenuDropdown hasMegaMenu{% if velaLink.active %} active{% endif %}">
    <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
    <div class="menuDropdown megaMenu">
        <div class="menuGroup row">
            {% if block.settings.velamenu_menu_enable %}
                <div class="{{ block.settings.velamenu_menu_col }}">
                    <div class="row">
                        {% for velaLink1 in velaLink.links %}
                            {% assign linkHandle = velaLink1.title | handleize %}
                            <div class="col-xs-12 {{ block.settings.velamenu_menu_menucol }}">
                                <ul class="velaMenuLinks">
                                    <li class="menuTitle{% if velaLink1.active %} active{% endif %}">
                                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                                    </li>
                                    {% for velaLink2 in velaLink1.links %}
                                        <li class="{% if velaLink2.active %}active{% endif %}">
                                            <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if block.settings.velamenu_product_enable %}
                <div class="{{ block.settings.velamenu_product_col }}">
                    <div class="velaMenuProducts">
                        {% if block.settings.velamenu_product_title != blank %}
                            <div class="menuTitle"><span>{{ block.settings.velamenu_product_title }}</span></div>
                        {% endif %}
                        <div class="listProduct">
                            {% assign collectionTitle = block.settings.velamenu_product_collection %}
                            {% assign productLimit = 3 %}
                            {% assign productImageSize = '270x' %}
                            {% for product in collections[collectionTitle].products limit:productLimit %}
                                {% assign onSale = false %}
                                {% if product.compare_at_price > product.price %}
                                    {% assign onSale = true %}
                                {% endif %}
                                <div class="blockProMenu">
                                    <div class="proImage proImageMenu">
                                        <a class="proImageLink" href="{{ product.url }}" title="">
                                            <img class="img-responsive" src="{{ product.featured_image | product_img_url:'large' }}" alt="{{ product.featured_image.alt }}">
                                        </a>
                                    </div>
                                    <div class="proMeta proMetaMenu">
                                        <h5 class="proName">
                                            <a href="{{ product.url }}" title="">{{ product.title }}</a>
                                        </h5>
                                        <div class="boxProPrice">
                                            {% if onSale %}
                                                <span class="priceProduct priceCompare">{{ product.compare_at_price | money }}</span>
                                            {% endif %}
                                            <span class="priceProduct priceSale">{{ product.price | money }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.settings.velamenu_html_enable %}
                <div class="{{ block.settings.velamenu_html_col }}">
                    <div class="velaMenuHtml">
                        {% if block.settings.velamenu_html_title != blank %}
                            <div class="menuTitle"><span>{{ block.settings.velamenu_html_title }}</span></div>
                        {% endif %}
                        <div class="htmlContent">
                            {{ block.settings.velamenu_html_content }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if block.settings.velamenu_banner_enable %}
                {% if block.settings.image_size != blank %}
                    {%- assign bannerSize = block.settings.image_size -%}
                {% else %}
                    {%- assign bannerSize = 'master' -%}
                {% endif %}
                <div class="{{ block.settings.velamenu_banner_col }}">
                    <div class="velaMenuBanner">
                        {% if block.settings.velamenu_banner_link != blank %}<a href="{{ block.settings.velamenu_banner_link }}">{% endif %}
                            {% if block.settings.velamenu_banner != blank %}
                                <img class="img-responsive" alt="{{ block.settings.velamenu_banner.alt | default: shop.name }}" src="{{ block.settings.velamenu_banner | img_url: bannerSize }}" />
                            {% else %}
                                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ bannerSize }}" />
                            {% endif %}
                        {% if block.settings.velamenu_banner_link != blank %}</a>{% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</li>