<div id="menuDrawer" class="drawers drawerRights drawer-top">
    <div class="drawerClose">
        <span class="drawerCartTitles" style="padding-left:30px;">MENU</span>
        <span class="jsDrawerClose"></span>
    </div>
    <div style="margin:2em 0">
        <ul class="nav memoNav">
            {%- for velaLink in linklists.main-menu.links -%} {%- if velaLink.links != blank -%}
            <li class="hasMemoDropdown{% if velaLink.active %} active{% endif %}">
                <a style="font-size:1.5em; font-weight:600" class="collapsed memoBtnDropdown-custom" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}">{{ velaLink.title }}
                  <span><i class="fa fa-angle-down"></i></span></a>

                <ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                    {%- assign ifor = forloop.index -%} {%- for velaLink1 in velaLink.links -%} {%- if velaLink1.links != blank -%}
                    <li class="hasMemoDropdown{% if velaLink1.active %} active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                        <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i
                                class="fa fa-angle-down"></i></span>
                        <ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                            {%- assign ifor1 = forloop.index -%} {%- for velaLink2 in velaLink1.links -%} {%- if velaLink2.links != blank -%}
                            <li class="hasMemoDropdown{% if velaLink2.active %} active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i
                                        class="fa fa-angle-down"></i></span>
                                <ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
                                    {%- for velaLink3 in velaLink2.links -%}
                                    <li class="{% if velaLink3.active %}active{% endif %}">
                                        <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- else -%}
                            <li class="{% if velaLink2.active %}active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                            </li>
                            {%- endif -%} {%- endfor -%}
                        </ul>
                    </li>
                    {%- else -%}
                    <li class="{% if velaLink1.active %}active{% endif %}">
                        <a class="{% if velaLink1.url == '/collections/portland' %}topmenu{% endif %}" href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}
                </ul>
            </li>
            {%- else -%}
            <li class="{% if velaLink.active %}active{% endif %}">
                <a style="font-size:1.5em; font-weight:600" href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
            </li>
            {%- endif -%} {%- endfor -%}
        </ul>
    </div>



    <div style="margin:2em 0; padding: 10px 0 20px 0">
        <a class="cieldesk" style=" padding:0 30px;" href="https://www.cielbycyrill.com/" title=""><img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/ciel_logo_web_bb1222d3-8e49-4df9-b2a1-4b63657eefaa.png?16910090536777643982"></a>
        <a class="cielmobile" style=" padding:0 30px;" href="https://www.cielbycyrill.com/" title=""><img style="width:144px; height:20px;" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/ciel_logo_1.png?10058985863940960819"></a>
      
    </div>

    <div style="margin:2em 0">
        <ul class="nav memoNav">
            {%- for velaLink in linklists.footer.links -%} {%- if velaLink.links != blank -%}
            <li class="hasMemoDropdown{% if velaLink.active %} active{% endif %}">
                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}"><i
                        class="fa fa-angle-down"></i></span>
                <ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                    {%- assign ifor = forloop.index -%} {%- for velaLink1 in velaLink.links -%} {%- if velaLink1.links != blank -%}
                    <li class="hasMemoDropdown{% if velaLink1.active %} active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                        <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i
                                class="fa fa-angle-down"></i></span>
                        <ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                            {%- assign ifor1 = forloop.index -%} {%- for velaLink2 in velaLink1.links -%} {%- if velaLink2.links != blank -%}
                            <li class="hasMemoDropdown{% if velaLink2.active %} active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i
                                        class="fa fa-angle-down"></i></span>
                                <ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
                                    {%- for velaLink3 in velaLink2.links -%}
                                    <li class="{% if velaLink3.active %}active{% endif %}">
                                        <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- else -%}
                            <li class="{% if velaLink2.active %}active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                            </li>
                            {%- endif -%} {%- endfor -%}
                        </ul>
                    </li>
                    {%- else -%}
                    <li class="{% if velaLink1.active %}active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}
                </ul>
            </li>
            {%- else -%}
            <li class="second-nav{% if velaLink.active %}active{% endif %}">
                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
            </li>
            {%- endif -%} {%- endfor -%}
        </ul>
        <ul class="nav memoNav">
            {%- for velaLink in linklists.plus-menu.links -%} {%- if velaLink.links != blank -%}
            <li class="hasMemoDropdown{% if velaLink.active %} active{% endif %}">
                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}"><i
                        class="fa fa-angle-down"></i></span>
                <ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                    {%- assign ifor = forloop.index -%} {%- for velaLink1 in velaLink.links -%} {%- if velaLink1.links != blank -%}
                    <li class="hasMemoDropdown{% if velaLink1.active %} active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                        <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i
                                class="fa fa-angle-down"></i></span>
                        <ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                            {%- assign ifor1 = forloop.index -%} {%- for velaLink2 in velaLink1.links -%} {%- if velaLink2.links != blank -%}
                            <li class="hasMemoDropdown{% if velaLink2.active %} active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i
                                        class="fa fa-angle-down"></i></span>
                                <ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
                                    {%- for velaLink3 in velaLink2.links -%}
                                    <li class="{% if velaLink3.active %}active{% endif %}">
                                        <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- else -%}
                            <li class="{% if velaLink2.active %}active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                            </li>
                            {%- endif -%} {%- endfor -%}
                        </ul>
                    </li>
                    {%- else -%}
                    <li class="{% if velaLink1.active %}active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}
                </ul>
            </li>
            {%- else -%}
            <li class="second-nav{% if velaLink.active %}active{% endif %}">
                <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
            </li>
            {%- endif -%} {%- endfor -%}
        </ul>
    </div>



    <div style="margin:2em 0; padding-bottom: 10px;">
        <a class="menulogin-custom" href="/account" title="">Login</a>
    </div>




    <div style="padding: 0 30px;">
        <div class="to-bottom-content">
            <div class="site-social" aria-label="Follow us on social media">

                <a href="https://www.facebook.com/cyrillstory" target="_blank" aria-label="Facebook" tabindex="-1"><span class="icon regular"
                        aria-hidden="true">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22"
                            style="enable-background:new 0 0 22 22; width: 30px; height: 30px;" xml:space="preserve"><path
                                d="M19.3,2H2.8C2.3,2,2,2.3,2,2.7v16.5C2,19.7,2.3,20,2.8,20h8.8v-6.8H9.3v-2.8h2.3V8.2
	c0-2.3,1.5-3.5,3.5-3.5c1,0,1.8,0.1,2.1,0.1v2.4l-1.4,0c-1.1,0-1.4,0.5-1.4,1.3v1.9h2.8l-0.6,2.8h-2.3l0,6.8h4.8
	c0.4,0,0.8-0.3,0.8-0.8V2.7C20,2.3,19.7,2,19.3,2z"></path></svg>
                    </span></a>
                <a href="https://www.instagram.com/cyrill_story/" target="_blank" aria-label="Instagram" tabindex="-1"><span
                        class="icon regular" aria-hidden="true">

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22"
                            style="enable-background:new 0 0 22 22; width: 30px; height: 30px;" xml:space="preserve"><path
                                d="M17.9,2H4.1C3,2,2,3,2,4.1v13.7C2,19,3,20,4.1,20h13.7c1.2,0,2.1-1,2.1-2.1V4.1C20,3,19,2,17.9,2z M15.5,4.3h1.7c0.3,0,0.6,0.3,0.6,0.6v1.7c0,0.3-0.3,0.6-0.6,0.6h-1.7c-0.3,0-0.6-0.3-0.6-0.6V4.8C14.9,4.5,15.2,4.3,15.5,4.3z M11,7.6c1.9,0,3.5,1.5,3.5,3.5c0,1.9-1.5,3.5-3.5,3.5c-1.9,0-3.5-1.5-3.5-3.5C7.6,9.1,9.1,7.6,11,7.6zM17.8,18.3H4.3c-0.3,0-0.6-0.3-0.6-0.6V9.3h2.3C5.6,9.7,5.5,10.5,5.5,11c0,3,2.5,5.5,5.5,5.5c3,0,5.5-2.5,5.5-5.5c0-0.5-0.1-1.3-0.4-1.7h2.3v8.4C18.3,18.1,18.1,18.3,17.8,18.3z"></path></svg>
                    </span></a>
            </div>
        </div>
    </div>
</div>

<script>
var preventClick = false;

$('.topmenu').click(function(e) {
    $(this)
       .css('cursor', 'default')
       .css('text-decoration', 'none')

    if (!preventClick) {
        $(this).html($(this).html());
    }

    preventClick = true;

    return false;
});
</script>