<div id="loading" style="display:none;"></div>
{%- if settings.ajax_cart_method == "modal" -%}
    <div class="headerCartModal">
        <div class="overlayCart"></div>
        <div class="headerCartContent rowFlex flexAlignCenter">
            <a class="closeCartModal" href="javascript:void(0)"></a>
            <div class="cartProductImage">
                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/100x100" />
            </div>
            <div class="cartProductContent">
                <div class="productTitle"></div>
                <div class="alertCartModal">{{ 'cart.general.added_to_cart' | t }}</div>
                <div class="cartModalButtons">
                    <a class="btn btnVelaCart btnViewCart" href="/cart">{{ 'cart.general.viewcart' | t }}</a>
                    <a class="btn btnVelaCart btnCheckout" href="/checkout">{{ 'cart.general.checkout' | t }}</a>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
<div id="newsletterAlert" class="modal fade" style="display:none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
          	<div class="alert alert-success">
          		<div class="newsletterAlert">{{ 'general.newsletter_form.alertsuccess' | t }}</div>
          	</div>
		</div>
	</div>
</div>
{%- if settings.quickview_enable -%}
	{% assign count_images = product.images | size %}
	{% assign column_center = 'col-sm-12 col-md-12' %}
	<div id="velaQuickView" style="display:none;">
	    <div class="quickviewOverlay"></div>
	    <div class="jsQuickview"></div>
	    <div id="quickviewModal" class="quickviewProduct" style="display:none;">
	    	<a title="Close" class="quickviewClose" href="javascript:void(0);"></a>
	        <div class="proBoxPrimary row">
	            <div class="proBoxImage col-xs-12 col-sm-12 col-md-6">
	                <div class="proFeaturedImage">
	                    <a class="proImage" title="" href="#">
                        	<img class="img-responsive proImageQuickview" src="{{ 'loading.gif' | asset_url }}" alt="Quickview"  />
                        	<span class="loadingImage"></span>
                        </a>
	                </div>
	                <div class="proThumbnails proThumbnailsQuickview clearfix">
	                    <div class="owl-thumblist">
                            <div class="owl-carousel">

                            </div>
                        </div>
	                </div>
	            </div>
	            <div class="proBoxInfo col-xs-12 col-sm-12 col-md-6">
                    <div class="quickViewType{% if settings.quickview_protype == false %} hidden{% endif %}"></div>
	                <h3 class="quickviewName">&nbsp;</h3>
	                <div class="quickviewProductAttr quickviewAvailability{% if settings.quickview_availability == false %} hidden{% endif %}"></div>
                    <div class="quickviewProductAttr quickViewVendor{% if settings.quickview_vendor == false %} hidden{% endif %}"></div>
                    <div class="quickviewProductAttr quickViewSKU{% if settings.quickview_prosku == false %} hidden{% endif %}"></div>
	                <form action="/cart/add" method="post" enctype="multipart/form-data" class="formQuickview form-ajaxtocart">
                        <div class="proPrice clearfix">
                            <span class="priceProduct pricePrimary"></span>
                            <span class="priceProduct priceCompare"></span>
                        </div>
                        <div class="proDescription rte"></div>
                        <div class="proVariantsQuickview"><select name='id' style="display:none"></select></div>
                        <div class="proQuantity">
                            <label for="Quantity" class="qtySelector">{{ 'products.product.quantity' | t }}</label>
                            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                        </div>
                        <div class="proButton">
                            <button type="submit" name="add" class="btn btnAddToCart">
                                <span>{{ 'products.product.add_to_cart' | t }}</span>
                            </button>
                        </div>
                    </form>
	            </div>
	        </div>
	    </div>    
	</div>
{%- endif -%}
{%- if settings.gotop_enable -%}
	<div id="goToTop" class="hidden-xs hidden-sm"><span class="fa fa-long-arrow-up"></span></div>
{%- endif -%}
{%- if settings.loading_enable -%}
    <div id="velaPreLoading">
        <span></span>
        <div class="velaLoading">
            <span class="velaLoadingIcon one"></span>
            <span class="velaLoadingIcon two"></span>
            <span class="velaLoadingIcon three"></span>
            <span class="velaLoadingIcon four"></span>
        </div>
    </div>
{%- endif -%}