{%- if section.settings.blogsidebar_search_enable -%}
    <div class="blogSidebar">
        <form class="formSearchPage formSearchBlogPage" action="/search" method="get">
            <input type="hidden" name="view" value="blog" />
            <input type="hidden" name="type" value="article" />
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder_blog' | t }}" class="formSearchPageInput form-control" />
            <button type="submit" class="btn formSearchPageButton">
                <i class="fa fa-search"></i>
                <span class="searchPageButtonText">{{ 'general.search.submit' | t }}</span>
            </button>
        </form>
    </div>
{%- endif -%}
{%- if section.settings.blogsidebar_recentarticles_enable -%}
    {%- assign numberLimit = section.settings.blogsidebar_recentarticles_limit | plus: 0 -%}
    <div class="blogSidebar">
        <h4 class="titleSidebar">{{ section.settings.blogsidebar_recentarticles_title }}</h4>
        <div class="velaContent">
            <ul class="listSidebarBlog list-unstyled">
                {% for article in blogs[blog.handle].articles limit:numberLimit %}
                    <li>
                        <div class="sidebarArticleItem">
                            {%- if article.image -%}
                                <div class="sidebarArticleItemImage">
                                    <a href="{{ article.url }}">
                                        <img class="img-responsive" src="{{ article.image | img_url: '200x' }}" alt="{{ article.title }}" />
                                    </a>
                                </div>
                            {%- endif -%}
                            <div class="sidebarArticleItemContent">
                                <a href="{{ article.url }}">{{ article.title }}</a>
                                <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                                    {{ article.published_at | date: format: 'month_day_year' }}
                                </time>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endif -%}
{%- if section.settings.blog_banner_enable -%}
    {%- if section.settings.blog_banner_size != blank -%}
        {%- assign imageSize = section.settings.blog_banner_size -%}
    {%- else -%}
        {%- assign imageSize = 'master' -%}
    {%- endif -%}
    <div class="blogSidebar blogBannerSidebar">
        <div class="effectOne">
            {%- if section.settings.blog_banner_link != blank -%}
                <a href="{{ section.settings.blog_banner_link }}" title="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}">
            {%- endif -%}
                {%- if section.settings.blog_sidebar_image != blank -%}
                    <img class="img-responsive" alt="{{ block.settings.blog_sidebar_image.alt | default: shop.name }}" src="{{ section.settings.blog_sidebar_image | img_url: imageSize }}" />
                {%- else -%}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/{{ imageSize }}" />
                {%- endif -%}
            {%- if section.settings.blog_banner_link != blank -%}
                </a>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}
{%- if section.settings.blogsidebar_tags_enable -%}
    {%- assign numberLimit = section.settings.blogsidebar_tags_limit | plus: 0 -%}
    {%- if blog.all_tags.size > 0 -%}
        <div class="blogSidebar">
            <h4 class="titleSidebar">{{ section.settings.blogsidebar_tags_title }}</h4>
            <div class="velaContent">
                <ul class="blogTagsList list-inline">
                    {% for tag in blog.all_tags limit:numberLimit %}
                        {%- if current_tags contains tag -%}
                            <li>{{ tag }}</li>
                        {%- else -%}
                            <li>{{ tag | link_to_tag: tag }}</li>
                        {%- endif -%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {%- endif -%}
{%- endif -%}