{%- if template contains 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{%- endif -%}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ '//cdn.shopify.com/s/javascripts/currencies.js' | script_tag }}
{{ 'vendor.js' | asset_url | script_tag }}
{%- if settings.ajax_cart_method != "page" -%}
	{{ 'vela_ajaxcart.js' | asset_url | script_tag }}
{%- endif -%}
{{ 'slick.js' | asset_url | script_tag }}
{{ 'vela.js' | asset_url | script_tag }}
{{ 'classie.js' | asset_url | script_tag }}

<script type="text/javascript">
    if (window.currencies) {
        Currency.format = "{{ settings.currency_format | default: 'money_with_currency_format' }}";
        var shopCurrency = window.currency;
        Currency.moneyFormats[shopCurrency].money_with_currency_format = window.shop_money_with_currency_format;
        Currency.moneyFormats[shopCurrency].money_format = window.shop_money_format;
        var defaultCurrency = '{{ settings.default_currency | default: shop.currency }}';
        var cookieCurrency = Currency.cookie.read();
        var velaCurrencies = $('[name=currencies]'),
            velaCurrencyItem = $('.jsvela-currency__item'),
            velaCurrencyCurrent = $('.jsvela-currency__current');
        $('span.money span.money').each(function() {
            $(this).parents('span.money').removeClass('money');
        });
        $('span.money').each(function() {
            $(this).attr('data-currency-' + window.currency, $(this).html());
        });
        if (cookieCurrency == null) {
            if (shopCurrency !== defaultCurrency) {
                Currency.convertAll(shopCurrency, defaultCurrency);
            }
            else {
                Currency.currentCurrency = defaultCurrency;
            }
        }
        else if ($('[name=currencies]').size() && $('[name=currencies] .jsvela-currency__item[data-value=' + cookieCurrency + ']').size() === 0) {
            Currency.currentCurrency = shopCurrency;
            Currency.cookie.write(shopCurrency);
        }
        else if (cookieCurrency === shopCurrency) {
            Currency.currentCurrency = shopCurrency;
        }
        else {
            Currency.currentCurrency = cookieCurrency;
            Currency.convertAll(shopCurrency, cookieCurrency);
            velaCurrencies.data('value', cookieCurrency);
            velaCurrencyItem.removeClass('active');
            velaCurrencyItem.each(function() {
                if ($(this).data('value') === cookieCurrency)
                    $(this).addClass('active');
            });

        }
        $('body').on('click', '.jsvela-currency__item', function() {
            var newCurrency = $(this).data('value');
            velaCurrencies.data('value', newCurrency);
            velaCurrencyItem.removeClass('active');
            $(this).addClass('active');
            Currency.convertAll(Currency.currentCurrency, newCurrency);
            velaCurrencyCurrent.text(Currency.currentCurrency);
            return false;
        });
        var original_selectCallback = window.selectCallback;
        var selectCallback = function(variant, selector) {
            original_selectCallback(variant, selector);
            Currency.convertAll(shopCurrency, $('[name=currencies]').data('value'));
            velaCurrencyCurrent.text(Currency.currentCurrency);
        };
        $('body').on('ajaxCart.afterCartLoad', function(cart) {
            Currency.convertAll(shopCurrency, $('[name=currencies]').data('value'));
            velaCurrencyCurrent.text(Currency.currentCurrency);  
        });
        velaCurrencyCurrent.text(Currency.currentCurrency);
    }
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>