<div class="rowFlex rowFlexMargin flexJustifyCenter desk-footer">
    <div class="col-xs-12 col-sm-4">
        <div class="velaFooter velaFooterMenu">
            <h4 class="velaFooterTitle">{{ menuTitle }}</h4>
            <div class="velaContent">
                <ul class="velaFooterLinks list-unstyled">
                    {% for velaLink in linklists[menuHandle].links %}
                    <li class="{% if velaLink.active %}active{% endif %}">
                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="velaFooter velaFooterMenu">
            <h4 class="velaFooterTitle" style="visibility:hidden">{{ menuTitle1 }}</h4>
            <div class="velaContent">
                <ul class="velaFooterLinks list-unstyled">
                    {% for velaLink in linklists[menuHandle1].links %}
                    <li class="{% if velaLink.active %}active{% endif %}">
                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
    </div>
</div>

<div class="rowFlex rowFlexMargin flexJustifyCenter mobile-footer">
    <div class="col-xs-12 col-sm-12">
        <div class="velaFooter velaFooterMenu">
            <h4 class="velaFooterTitle">QUESTIONS</h4>
            <div class="velaContent">
                <ul class="velaFooterLinks list-unstyled">
                    {% for velaLink in linklists['mobile'].links %}
                    <li class="{% if velaLink.active %}active{% endif %}">
                        <a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="velaFooterTitle follow col-xs-12" style="display:inline-block; white-space:nowrap;">
    FOLLOW US! @CYRILL_STORY
</div>

<div class="velaFooterSocial col-xs-12" style="padding:0">
    <div class="velaSocial">
        <div class="velaContent">
            <ul class="velaListSocial list-unstyled">
                <li class="instagram" style="padding-left:0px">
                    <a target="_blank" href="https://www.instagram.com/cyrill_story/" title="{{ shop.name }} on Instagram" class="btn-social btn-social--instagram"
                        data-original-title="Instagram">
                        <i class="fa fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/cyrillstory/" title="{{ shop.name }} on Facebook" class="btn-social btn-social--facebook"
                        data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>