<section id="pageContent" class="velaBorderTop">
    <div class="container">
        <div class="velaAccountContainer">
            {%- assign isLogin = true -%}
            {% include 'vela-login-register' %}
        </div>
    </div>
</section>