<section id="pageContent" class="velaBorderTop">
    <div class="container">
        <div id="velaAccountOrder" class="velaAccountContainer">
            <div class="velaOrderBox">
                <h4 class="velaAccountTitle">
                    <span>{{ 'customer.order.title' | t: name: order.name }}</span>
                </h4>
                <div class="accountOrderBox velaContent">
                    <p class="orderCreatedAt">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
                    {% if order.cancelled %}
                        <div class="alert alert-danger">
                            {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
                            <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                            <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
                         </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table tableOrder table-bordered">
                            <thead>
                                <tr>
                                    <th>{{ 'customer.order.product' | t }}</th>
                                    <th>{{ 'customer.order.sku' | t }}</th>
                                    <th>{{ 'customer.order.price' | t }}</th>
                                    <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
                                    <th class="text-right">{{ 'customer.order.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for line_item in order.line_items %}
                                    <tr id="{{ line_item.id }}">
                                        <td>
                                            {{ line_item.title | link_to: line_item.product.url }}
                                            {% if line_item.fulfillment %}
                                                <div class="note">
                                                    {% assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' %}
                                                    {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                                                    {% if line_item.fulfillment.tracking_number %}
                                                        <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>{{ line_item.sku }}</td>
                                        <td>{{ line_item.price | money }}</td>
                                        <td class="text-right">{{ line_item.quantity }}</td>
                                        <td class="text-right">{{ line_item.quantity | times: line_item.price | money }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
                                    <td class="text-right">{{ order.subtotal_price | money }}</td>
                                </tr>
                                {% for discount in order.discounts %}
                                    <tr class="order_summary discount">
                                        <td colspan="4">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                                        <td class="text-right">{{ discount.savings | money }}</td>
                                    </tr>
                                {% endfor %}
                                {% for shipping_method in order.shipping_methods %}
                                    <tr>
                                        <td colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                                        <td class="text-right">{{ shipping_method.price | money }}</td>
                                    </tr>
                                {% endfor %}
                                {% for tax_line in order.tax_lines %}
                                    <tr>
                                        <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                                        <td class="text-right">{{ tax_line.price | money }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
                                    <td class="text-right"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="orderAdreess">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="boxAccount addressBox">
                                    <h4 class="velaAccountTitle velaAccountTitleSmall">
                                        <span>{{ 'customer.order.billing_address' | t }}</span>
                                    </h4>
                                    <div class="alert alert-info"><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</div>
                                    <div class="addressBoxContent">
                                        <h5 class="customerName">{{ order.billing_address.name }}</h5>
                                        <ul class="addressInfo list-unstyled">
                                            <li>
                                                <label>{{ 'customer.addresses.phone' | t }}: </label>{{ order.billing_address.phone }}
                                            </li>
                                            {% if order.billing_address.company != blank %}
                                                <li><label>{{ 'customer.addresses.company' | t }}: </label>{{ order.billing_address.company }}</li>
                                            {% endif %}
                                            <li>
                                                <label>{{ 'customer.addresses.address' | t }}: </label>
                                                {{ order.billing_address.street }}
                                                , {{ order.billing_address.city }}
                                                {% if order.billing_address.province != blank %}
                                                    , {{ order.billing_address.province }}
                                                {% endif %}
                                                &nbsp;{{ order.billing_address.zip | upcase }}
                                            </li>
                                            <li>
                                                <label>{{ 'customer.addresses.country' | t }}: </label>{{ order.billing_address.country }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="boxAccount addressBox">
                                    <h4 class="velaAccountTitle velaAccountTitleSmall">
                                        <span>{{ 'customer.order.shipping_address' | t }}</span>
                                    </h4>
                                    <div class="alert alert-info"><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</div>
                                    <div class="addressBoxContent">
                                        <h5 class="customerName">{{ order.shipping_address.name }}</h5>
                                        <ul class="addressInfo list-unstyled">
                                            <li>
                                                <label>{{ 'customer.addresses.phone' | t }}: </label>{{ order.shipping_address.phone }}
                                            </li>
                                            {% if order.shipping_address.company != blank %}
                                                <li><label>{{ 'customer.addresses.company' | t }}: </label>{{ order.shipping_address.company }}</li>
                                            {% endif %}
                                            <li>
                                                <label>{{ 'customer.addresses.address' | t }}: </label>
                                                {{ order.shipping_address.street }}
                                                , {{ order.shipping_address.city }}
                                                {% if order.shipping_address.province != blank %}
                                                    , {{ order.shipping_address.province }}
                                                {% endif %}
                                                &nbsp;{{ order.shipping_address.zip | upcase }}
                                            </li>
                                            <li>
                                                <label>{{ 'customer.addresses.country' | t }}: </label>{{ order.shipping_address.country }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-buttonCancel">
                    <a class="velaAccountButton" href="/account" >{{ 'customer.account.return' | t }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
