<section id="pageContent" class="velaBorderTop">
    <div class="container">
        <div class="velaAccountContainer">
            <div class="velaFormAccount">
                <div class="formAccount formAccountResetPassword">
                    <h1 class="velaAccountTitle">
                        <span>{{ 'customer.reset_password.title' | t }}</span>
                    </h1>
                    {% form 'reset_customer_password' %}
                        <div class="formContent">
                            <div class="formAccountText">
                                <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors | default_errors }}
                                </div>
                            {% endif %}
                            <div class="form-group form-group--pasword{% if form.errors contains 'password' %} has-error{% endif %}">
                                <label for="ResetPassword" class="hidden">{{ 'customer.reset_password.password' | t }}</label>
                                <input type="password" value="" name="customer[password]" id="ResetPassword" class="form-control" placeholder="{{ 'customer.reset_password.password' | t }}">
                                <a href="javascript:void(0)" class="velaShowPassword">{{ 'customer.account.show_password' | t }}</a>
                            </div>
                            <div class="form-group form-group--pasword{% if form.errors contains 'password_confirmation' %} has-error{% endif %}">
                                <label for="PasswordConfirmation" class="hidden">{{ 'customer.reset_password.password_confirm' | t }}</label>
                                <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="form-control" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                                <a href="javascript:void(0)" class="velaShowPassword">{{ 'customer.account.show_password' | t }}</a>
                            </div>
                            <div class="form-button">
                                <input type="submit" class="btn btnVelaOne" value="{{ 'customer.reset_password.submit' | t }}">
                            </div>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</section>