<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.vela_color_primary }}">
    <meta name="format-detection" content="telephone=no">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
    {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>
    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {% if settings.vela_fontfamily_style == 'google_fonts' %}{{ settings.vela_fontfamily_link }}{% endif %}
    {% if settings.vela_fontfamily_secondary_style == 'google_fonts' %}{{ settings.vela_fontfamily2_link }}{% endif %}
    {{ 'vela-fonts.scss.css' | asset_url | stylesheet_tag }}
    {{ 'gift-card.css' | shopify_asset_url | stylesheet_tag }}

    {{ 'modernizr.gift-card.js' | shopify_asset_url | script_tag }}
    {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
    <script type='text/javascript'>
        function selectText(element) {
            var doc = document;
            var text = doc.getElementById(element);
            if (doc.body.createTextRange) { // ms
                var range = doc.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) { // moz, opera, webkit
                var selection = window.getSelection();
                var range = doc.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }
    </script>
    {{ content_for_header }}
</head>
<body class="template-giftcard">
    {{ content_for_layout }}
</body>
</html>
