<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.vela_color_primary }}">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}
    <title>{{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}</title>
    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    {% include 'social-meta-tags' %}
    {{ 'vela-fonts.scss.css' | asset_url | stylesheet_tag }}
    {{ 'vela-password.scss.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
</head>
<body class="template-password">
    {{ content_for_layout }}
</body>
</html>