<div class="velaHTMLOne dtlavideo">
<div class="collections-margin">
        <div class="row noGutter">
          <div class="col-xs-12">
  <video autoplay muted loop playsinline id="myVideo">
  <source src="{{ section.settings.url }}" type="video/mp4">
</video>
            </div>
        </div>
  </div>
</div>
<div class="velaRichText velaBlock">
    <div class="container">
        <div class="velaRichTextInner">
            <div class="velaContent">
                <div class="rte">
                    {{ section.settings.text }}    
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Text Video",
        "class": "velaFramework",
        "settings":[

            {
                "type": "html",
                "id": "description",
                "label": "Description",
                "placeholder": "Description"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Video URL"
            },
            {
                "type": "html",
                "id": "text",
                "label": "Text",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            }
        ],
        "presets": [
            {
                "name": "Text & Video",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}