<div class="velaRichText velaBlock">
    <div class="container">
        <div class="velaRichTextInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div class="rte">
                    {{ section.settings.text }}    
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "DTLA rich text",
        "class": "velaFramework",
        "settings":[
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "html",
                "id": "text",
                "label": "Text",
                "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            }
        ],
        "presets": [
            {
                "name": "Rich text",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}