<div class="velaBanner velaSingleBanner velaBlock dtla-img-bottom-margin">
<div class="velaHTMLOneImage">
        <div class="velaBannerInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaBannerTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            <div class="velaContent">
              <div class="row">
                <div class="col-xs-12 velaBannerItem {{ section.settings.effect }}">
                  	
                        {%- if section.settings.image != blank -%}
                            <img class="img-responsive" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url:'master' }}" />
                        {%- else -%}
                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/1170x632" />
                        {%- endif -%}
                  	
                </div>
                </div>
            </div>
        </div>
  </div>
</div>
{% schema %}
    {
        "name": "DTLA Image",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "fullwidth",
                "label": "Fullwidth"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Image URL"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner image"
            },
            {
                "type": "select",
                "id": "effect",
                "label": "Effect",
				"default": "effectOne",
                "options": [
					{
                        "value": "effectNone",
                        "label": "None"
                    },
                    {
                        "value": "effectOne",
                        "label": "Effect one"
                    },
                    {
                        "value": "effectTwo",
                        "label": "Effect two"
                    },
                    {
                        "value": "effectThree",
                        "label": "Effect three"
                    },
                    {
                        "value": "effectFour",
                        "label": "Effect four"
                    },
                    {
                        "value": "effectFive",
                        "label": "Effect five"
                    },
                    {
                        "value": "effectSix",
                        "label": "Effect six"
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "Banner image",
                "category": "4. Vela Image"
            }
        ]
    }
{% endschema %}