<div class="velaHTMLOne velaBlock mainvideo">
<div class="collections-margin">
        <div class="row noGutter">
            <div class="col-xs-12 col-md-6">
                {%- if section.settings.title != blank -%}
                    <h3 class="htmlOneTitle">{{ section.settings.title }}</h3>
                {%- endif -%}
                {%- if section.settings.description != blank -%}
                    <div class="htmlOneDesc">
                        {{ section.settings.description }}
                    </div>
                {%- endif -%}
            </div>
          <div class="col-xs-12 col-md-6">
  <video autoplay muted loop playsinline id="myVideo">
  <source src="{{ section.settings.url }}" type="video/mp4">
</video>
            <a href="/pages/dtla"><button class="btn video-btn video-btn-mobile">DTLA COLLECTION</button></a>
            </div>
        </div>
  </div>
</div>
{% schema %}
    {
        "name": "Text Video",
        "class": "velaFramework",
        "settings":[
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "html",
                "id": "description",
                "label": "Description",
                "placeholder": "Description"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Video URL"
            }
        ],
        "presets": [
            {
                "name": "Text & Video",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}