{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% if image %}
  {% assign image_box_ratio = image.height | append: ".0" | times: 1 | divided_by: image.width | times: 100 | append: "%" %}
{% else %}
  {% assign image_box_ratio = "100%" %}
{% endif %}

{% assign current_variant = product.selected_or_first_available_variant %}

{% assign on_sale = false %}

{% if current_variant.compare_at_price > current_variant.price %}
  {% unless hide_on_sale_badge %}
    {% assign on_sale = true %}
  {% endunless %}
{% endif %}

<div
  data-product-container
  itemscope
  itemtype="http://schema.org/Product"
  {% if current_variant.image %}
    data-initial-image-position="{{ current_variant.image.position | json | minus: 1 }}"
  {% endif %}
  data-shop-default-currency="{{ shop.currency }}"
  data-product-options-size="{{ product.options.size }}"
  data-product-options-first="{{ product.options.first }}"
  data-product-variants-size="{{ product.variants.size }}"
  data-product-variants-first="{{ product.variants.first.title }}">

  <script data-product-json type="application/json">
    {{ product | json }}
  </script>

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="grid--inline product-single">
    <div class="grid__item xxlarge--two-thirds xlarge--three-fifths large--one-half text-center" id="PhotoContent" style="background-color: {{ section.settings.product-image-background }}">
      {% comment %}
        Now create the mobile slideshow.
      {% endcomment %}

      <div class="large--hide">
        <div class="product-single__photos" id="ProductPhotoSlideshow">
          {% for image in product.images %}
            {% include "filter-rias-img-url" input: image %}
            {% assign image_url = output %}

            <img
              data-src="{{ image_url }}"
              data-sizes="auto"
              class="lazyload lazyload-fade"
              alt="{{ image.alt | escape }}"
              data-image-id="{{ image.id }}">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{% schema %}
  {
    "name": "Product pages",
    "class": "product-pages",
    "settings": [
      {
        "type": "color",
        "id": "product-image-background",
        "label": "Image background color",
        "default": "#F9F9F9"
      },
      {
        "type": "checkbox",
        "id": "product_related",
        "label": "Show related products"
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": false
      },
      {
        "type": "select",
        "id": "image_layout_style",
        "label": "Image layout style",
        "options": [
          {
            "value": "thumbnails",
            "label": "Thumbnails"
          },
          {
            "value": "stacked_images",
            "label": "Stacked images"
          },
          {
            "value": "stacked_images_sticky_sidebar",
            "label": "Stacked images with sticky sidebar"
          }
        ],
        "default": "thumbnails"
      },
      {
        "type": "checkbox",
        "id": "expand_first_tab",
        "label": "Expand first tab when sidebar is sticky"
      }
    ],
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "type": "page",
            "id": "product_tab_page",
            "label": "Select page as tab content"
          }
        ]
      },
      {
        "type": "share",
        "name": "Share buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "share_facebook",
            "label": "Facebook"
          },
          {
            "type": "checkbox",
            "id": "share_pinterest",
            "label": "Pinterest"
          },
          {
            "type": "checkbox",
            "id": "share_google",
            "label": "Google Plus"
          },
          {
            "type": "checkbox",
            "id": "share_twitter",
            "label": "Twitter"
          },
          {
            "type": "checkbox",
            "id": "share_tumblr",
            "label": "Tumblr"
          }
        ]
      }
    ]
  }
{% endschema %}
