{%- if section.settings.filter_by_tag and collection.all_tags.size > 0 -%}
	{%- if current_tags == blank -%}
		{%- assign noFilter = true -%}
	{%- else -%}
		{%- assign noFilter = false -%}
	{%- endif -%}
    {%- if template.name == 'collection' and collection.all_tags.size > 0 -%}
        {%- assign strListTags = '' -%}
        {% for tag in collection.all_tags %}
            {%- if tag contains '_' -%}
                {% capture strListTags %}{% unless strListTags == blank  %}{{ strListTags }}|{% endunless %}{{ tag | split: '_' | first }}{% endcapture %}
            {%- endif -%}
        {% endfor %}
        {%- assign groupTags = strListTags | split: '|' | uniq -%}
    {%- endif -%}
    <div id="sidebarAjaxFilter" class="velaFilter">
        <h3 class="titleSidebar">
        	<span>{{ section.settings.filter_by_tag_title }}</span>
        	<a href="javascript:void(0)" class="velaClearAll{% if noFilter %} hidden{% endif %}">{{ 'collections.sidebar.clear_all' | t }}</a>
    	</h3>
        <div class="velaContent">
            {% for groupTagTitle in groupTags %}
                {%- if groupTagTitle contains 'Size' -%}
                    {%- assign classFilter = 'listFilterSize' -%}
                {%- endif -%}
                <div class="ajaxFilter">
                    <h4 class="ajaxFilterTitle">
                        <span>{{ groupTagTitle }}</span>
                        <a href="javascript:void(0)" class="velaClear" style="display:none;">{{ 'collections.sidebar.clear' | t }}</a>
                    </h4>
                    <ul class="listFilter {{ classFilter }} list-unstyled">
                        {% for tag in collection.all_tags %}
                            {%- assign cat = tag | split: '_' | first -%}
                            {%- assign catDowncase = cat | downcase -%}
                            {%- if cat != tag and groupTagTitle == cat -%}
                                {%- if catDowncase == 'color' or catDowncase == 'colour' -%}
                                    {% capture colorImage %}{{ tag | remove_first: groupTagTitle | remove_first: '_' | handle }}.png{% endcapture %}
                                    <li class="filterColor{% if current_tags contains tag %} active{% endif %}" data-filter="{{ tag | handle }}">
                                        <a href="javascript:void(0)" data-toggle="tooltip" title="{{ tag | remove_first: groupTagTitle | remove_first: '_' }}">
                                            <img class="img-responsive" alt="{{ tag | remove_first: groupTagTitle | remove_first: '_' | escape }}" src="{{ colorImage | file_img_url:'master' }}" />
                                        </a>
                                    </li>
                                {%- else -%}
                                    {%- if current_tags contains tag -%}
                                        <li class="active" data-filter="{{ tag | handle }}">
                                            {{ tag | remove_first: groupTagTitle | remove_first: '_' | link_to_remove_tag: tag }}
                                        </li>
                                    {%- else -%}
                                        <li data-filter="{{ tag | handle }}">
                                            {{ tag | remove_first: groupTagTitle | remove_first: '_' | link_to_add_tag: tag }}
                                        </li>
                                    {%- endif -%}
                                {%- endif -%}
                            {%- endif -%}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{%- endif -%}
{% schema %}
    {
        "name": "Sidebar Filter By Tags",
        "settings": [
            {
                "type": "header",
                "content": "SIDEBAR CUSTOMIZE TAGS"
            },
            {
                "type": "checkbox",
                "id": "filter_by_tag",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "filter_by_tag_title",
                "label": "Heading"
            }
        ]
    }
{% endschema %}