{%- if section.settings.sidebar_categories_enable -%}
	{%- assign velaCategories = section.settings.sidebar_categories_menu -%}
	<div id="velaCategories" class="velaCategoriesSidebar">
  		<h3 class="titleSidebar">{{ section.settings.sidebar_categories_title }}</h3>
      	{%- if linklists[velaCategories] != empty -%}
            <div class="velaContent">
                <ul class="sidebarListCategories list-unstyled">
                    {% for linkItem in linklists[velaCategories].links %}
                        {%- assign hasDropdown = false -%}
                        {%- if linklists[linkItem.handle] != empty -%}
                            {%- assign hasDropdown = true -%}
                        {%- endif -%}
                        <li class="sidebarCateItem{% if hasDropdown %} hasSubCategory{% endif %}{% if linkItem.active %} active{% endif %}">
                            <a href="{{ linkItem.url }}">{{ linkItem.title }}</a>
                            {%- if hasDropdown -%}
                                <span class="collapsed" data-toggle="collapse" data-target="#subCategory{{ forloop.index }}"></span>
                                <div id="subCategory{{ forloop.index }}" class="collapse">
                                    <ul class="sidebarListCategories subListCategories list-unstyled">
                                        {% for linkChildItem in linklists[linkItem.handle].links %}
                                            {%- assign hasDropdown = false -%}
                                            {%- if linklists[linkChildItem.handle] != empty -%}
                                                {%- assign hasDropdown = true -%}
                                            {%- endif -%}
                                            <li class="sidebarCateItem{% if hasDropdown %} hasSubCategory{% endif %}{% if linkItem.active %} active{% endif %}">
                                                <a href="{{ linkChildItem.url }}">{{ linkChildItem.title }}</a>
                                                {%- if hasDropdown -%}
                                                    <span class="collapsed" data-toggle="collapse" data-target="#subCategory2{{ forloop.index }}"></span>
                                                    <div id="subCategory2{{ forloop.index }}" class="collapse">
                                                        <ul class="sidebarListCategories subListCategories list-unstyled">
                                                            {% for linkChildItem2 in linklists[linkItem.handle].links %}
                                                                <li class="sidebarCateItem{% if linkItem.active %} active{% endif %}">
                                                                    <a href="{{ linkChildItem2.url }}">{{ linkChildItem2.title }}</a>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {%- endif -%}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {%- endif -%}
                        </li>
                    {% endfor %}
                </ul>
            </div>
      	{%- endif -%}
	</div>
{%- endif -%}
{% if section.settings.sidebar_filtervendor_enable %}
    <div class="velaFilter">
        <h3 class="titleSidebar">{{ section.settings.sidebar_filtervendor_title }}</h3>
        <div class="velaContent">
            <ul class="listSidebar list-unstyled">
                {% assign itemArray = section.settings.sidebar_filtervendor_list | split:"," %}
                {% for itemVendor in itemArray %}
                    {% if shop.vendors contains itemVendor %}
                        {% if collection.current_vendor == itemVendor %}
                            <li class="active">
                                {{ itemVendor | link_to_vendor }}
                            </li>
                        {% else %}
                            <li>
                                {{ itemVendor | link_to_vendor }}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% if section.settings.sidebar_filtertype_enable %}
    <div class="velaFilter">
        <h3 class="titleSidebar">{{ section.settings.sidebar_filtertype_title }}</h3>
        <div class="velaContent">
            <ul class="listSidebar list-unstyled">
                {% assign itemArray = section.settings.sidebar_filtertype_list | split:"," %}
                {% for itemType in itemArray %}
                    {% if shop.types contains itemType %}
                        {% if collection.current_vendor == itemType %}
                            <li class="active">
                                {{ itemType | link_to_vendor }}
                            </li>
                        {% else %}
                            <li>
                                {{ itemType | link_to_vendor }}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% schema %}
    {
        "name": "Sidebar Categories",
        "settings": [
            {
                "type": "header",
                "content": "Sidebar Categories"
            },
            {
                "type": "checkbox",
                "id": "sidebar_categories_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "sidebar_categories_title",
                "label": "Heading"
            },
            {
                "type": "link_list",
                "id": "sidebar_categories_menu",
                "label": "Category menu",
                "info": "Choose menu for block. Add new menu: Admin->Navigation->Menu"
            },
            {
                "type": "header",
                "content": "Sidebar Filter By Vendor"
            },
            {
                "type": "checkbox",
                "id": "sidebar_filtervendor_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "sidebar_filtervendor_title",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "sidebar_filtervendor_list",
                "placeholder": "Vendor1,Vendor2",
                "label": "Vendors list",
                "info": "Separate by a comma \",\""
            },
            {
                "type": "header",
                "content": "Sidebar Filter By Type"
            },
            {
                "type": "checkbox",
                "id": "sidebar_filtertype_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "sidebar_filtertype_title",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "sidebar_filtertype_list",
                "placeholder": "Product Type,Product Vendor2",
                "label": "Product types list",
                "info": "Separate by a comma \",\""
            }
        ]
    }
{% endschema %}