<div class="velaListCollections velaBlock collections-margin collection-bottom-margin">
    <div class="velaListCollectionsInner">
        {%- if section.settings.title != blank -%}
        <h3 class="velaHomeTitle">
            {{ section.settings.title }}
        </h3>
        {%- endif -%} {%- if section.settings.subtitle != blank -%}
        <div class="velaHomeSubTitle">
            {{ section.settings.subtitle }}
        </div>
        {%- endif -%}
        <div class="velaContent">
            <div class="rowFlex noGutter flexJustifyCenter">
                <div class="col-xs-12 col-sm-4" style="position:relative">
                    <div class="boxCollection">
                      <a href="{{ section.settings.link }}" title="{{ block.settings.title }}">
                        <div class="boxCollectionImage">
                            <img class="img-responsive-collections" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url:'master' }}"
                            />
                        </div>
                      </a>
                    </div>
                    <a href="{{ section.settings.link }}" title="{{ block.settings.title }}">
                        <div style="position:absolute; top:7%; left:5%">
                            <h3 class="htmlOneTitle lower-title">{{ section.settings.device
                                }}</h3>
                            <div class="htmlOneDesc">{{ section.settings.view }}</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4" style="position:relative">
                    <div class="boxCollection">
                      <a href="{{ section.settings.link1 }}" title="{{ block.settings.title }}">
                        <div class="boxCollectionImage">
                            <img class="img-responsive-collections" alt="{{ section.settings.image1.alt | default: shop.name }}" src="{{ section.settings.image1 | img_url:'master' }}"
                            />
                        </div>
                      </a>
                    </div>
                    <a href="{{ section.settings.link1 }}" title="{{ block.settings.title }}">
                        <div style="position:absolute; top:7%; left:5%">
                            <h3 class="htmlOneTitle lower-title">{{ section.settings.device1
                                }}</h3>
                            <div class="htmlOneDesc">{{ section.settings.view1 }}</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-4" style="position:relative">
                    <div class="boxCollection">
                      <a href="{{ section.settings.link2 }}" title="{{ block.settings.title }}">
                        <div class="boxCollectionImage">
                            <img class="img-responsive-collections" alt="{{ section.settings.image2.alt | default: shop.name }}" src="{{ section.settings.image2 | img_url:'master' }}"
                            />
                        </div>
                      </a>
                    </div>
                    <a href="{{ section.settings.link2 }}" title="{{ block.settings.title }}">
                        <div style="position:absolute; top:7%; left:5%">
                            <h3 class="htmlOneTitle lower-title">{{ section.settings.device2
                                }}</h3>
                            <div class="htmlOneDesc">{{ section.settings.view2 }}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {  
   "name":"Vela Collections",
   "class":"velaFramework",
   "settings":[  
      {  
         "type":"text",
         "id":"title",
         "label":"Heading"
      },
      {  
         "type":"text",
         "id":"subtitle",
         "label":"Subheading",
         "placeholder":"Subheading"
      },
      {  
         "type":"image_picker",
         "id":"image",
         "label":"Box image"
      },
      {  
         "type":"url",
         "id":"link",
         "label":"Box URL"
      },
      {  
         "type":"text",
         "id":"device",
         "label":"Head"
      },
      {  
         "type":"text",
         "id":"view",
         "label":"Sub"
      },
      {  
         "type":"image_picker",
         "id":"image1",
         "label":"Box image"
      },
      {  
         "type":"url",
         "id":"link1",
         "label":"Box URL"
      },
      {  
         "type":"text",
         "id":"device1",
         "label":"Head"
      },
      {  
         "type":"text",
         "id":"view1",
         "label":"Sub"
      },      {  
         "type":"image_picker",
         "id":"image2",
         "label":"Box image"
      },
      {  
         "type":"url",
         "id":"link2",
         "label":"Box URL"
      },
      {  
         "type":"text",
         "id":"device2",
         "label":"Head"
      },
      {  
         "type":"text",
         "id":"view2",
         "label":"Sub"
      }
   ],
   "blocks":[  
      {  
         "type":"item",
         "name":"Collection",
         "settings":[  
            {  
               "type":"text",
               "id":"title",
               "label":"Box heading"
            }
         ]
      }
   ],
   "presets":[  
      {  
         "name":"List collections 2",
         "category":"2. Vela Product"
      }
   ]
}
{% endschema %}