<div class="velaAboutUs velaAboutUsText">
    <div class="container">
        <div class="velaAboutUsTextInner text-center">
            {%- if section.settings.title != blank -%}
                <h3 class="velaAboutUsTextHeading">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            <div class="velaContent">
                <div class="rowFlex flexJustifyCenter">
                    {%- if section.settings.contact_enable -%}
                        <div class="aboutBoxText">
                            {%- if section.settings.contact_title != blank -%}
                                <h3 class="aboutBoxTextHeading">{{ section.settings.contact_title }}</h3>
                            {%- endif -%}
                            {%- if section.settings.contact_desc != blank -%}
                                <div class="aboutBoxDesc">
                                    {{ section.settings.contact_desc }}
                                </div>
                            {%- endif -%}
                            {%- if section.settings.contact_btn != blank -%}
                                <div class="aboutBoxButton">
                                    <a class="btn btnVelaOne" href="{{ section.settings.contact_btn_url }}">
                                        {{ section.settings.contact_btn }}
                                    </a>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {%- if section.settings.work_enable -%}
                        <div class="aboutBoxText">
                            {%- if section.settings.work_title != blank -%}
                                <h3 class="aboutBoxTextHeading">{{ section.settings.work_title }}</h3>
                            {%- endif -%}
                            {%- if section.settings.work_desc != blank -%}
                                <div class="aboutBoxDesc">
                                    {{ section.settings.work_desc }}
                                </div>
                            {%- endif -%}
                            {%- if section.settings.work_btn != blank -%}
                                <div class="aboutBoxButton">
                                    <a class="btn btnVelaOne" href="{{ section.settings.work_btn_url }}">
                                        {{ section.settings.work_btn }}
                                    </a>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela About Text",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "header",
                "content": "Contact us"
            },
            {
                "type": "checkbox",
                "id": "contact_enable",
                "label": "Box enable"
            },
            {
                "type": "text",
                "id": "contact_title",
                "label": "Box heading"
            },
            {
                "type": "textarea",
                "id": "contact_desc",
                "label": "Box description"
            },
            {
                "type": "text",
                "id": "contact_btn",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "contact_btn_url",
                "label": "Button URL"
            },
            {
                "type": "header",
                "content": "Work with us"
            },
            {
                "type": "checkbox",
                "id": "work_enable",
                "label": "Box enable"
            },
            {
                "type": "text",
                "id": "work_title",
                "label": "Box heading"
            },
            {
                "type": "textarea",
                "id": "work_desc",
                "label": "Box description"
            },
            {
                "type": "text",
                "id": "work_btn",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "work_btn_url",
                "label": "Button URL"
            }
        ]
    }
{% endschema %}