{%- if section.settings.bgimage != blank -%}
    {%- capture bgImage -%}style="background-image: url({{ section.settings.bgimage | img_url: 'master' }});"{%- endcapture -%}
{%- endif -%}
<section class="passwordPage" {{ bgImage }}>
    <div class="passwordPageInner text-center">
        <div class="passwordLogo">
            {%- if section.settings.logo -%}
                <a href="/" class="passwordLogoImage">
                    <img src="{{ section.settings.logo | img_url:'master' }}" 
                        srcset="{{ section.settings.logo | img_url:'master' }}"
                        alt="{{ section.settings.logo.alt | default: shop.name }}"
                        itemprop="logo">
                </a>
            {%- endif -%}
            <h1 class="passwordLogoText{% if section.settings.logo %} hidden{% endif %}" href="/">{{ shop.name }}</h1>
        </div>
        <div class="passwordContent">
            <h2 class="passwordTitle">{{ section.settings.header }}</h2>
            {% unless shop.password_message == blank %}
                <div class="passwordMessage">
                    {{ shop.password_message }}
                </div>
            {% endunless %}
            <div class="passwordLogin text-center">
                <div class="passwordHeading">{{ 'general.password_page.login_form_heading' | t }}</div>
                {% form 'storefront_password' %}
                    {{ form.errors | default_errors }}
                    <div class="form-group">
                        <label for="password" class="hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                        <input type="password" name="password" id="Password" class="form-control" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn btnVelaOne">{{ 'general.password_page.login_form_submit' | t }}</button>
                    </div>
                {% endform %}
                <p>{{ 'general.password_page.admin_link_html' | t }}</p>
            </div>
            {%- if section.settings.show_share_buttons -%}
                <div class="pwdSocialSharing text-center">
                    <h4 class="pwdSocialTitle">{{ section.settings.social_message }}</h4>
                    <div class="pwdSocialContent">
                        {%- if section.settings.share_facebook -%}
                            <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="btn btnShare btnShareFacebook" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
                                <i class="fa fa-facebook"></i>
                                <span class="shareTitle">{{ section.settings.share_facebook_text }}</span>
                            </a>
                        {%- endif -%}
                        {%- if section.settings.share_twitter -%}
                            <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="btn btnShare btnShareTwitter" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
                                <i class="fa fa-twitter"></i>
                                <span class="shareTitle">{{ section.settings.share_twitter_text }}</span>
                            </a>
                        {%- endif -%}
                        {%- if section.settings.share_pinterest -%}
                            <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btnShare btnSharePinterest" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
                                <i class="fa fa-pinterest"></i>
                                <span class="shareTitle">{{ section.settings.share_pinterest_text }}</span>
                            </a>
                        {%- endif -%}
                    </div>
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
{% schema %}
    {
        "name": "Vela Password Page",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
            {
                "type": "header",
                "content": "Header"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo image"
            },
            {
                "type": "text",
                "id": "header",
                "label": "Heading",
                "default": "Coming Soon"
            },
            {
                "type": "header",
                "content": "Footer"
            },
            {
                "type": "checkbox",
                "id": "show_share_buttons",
                "label": "Show social sharing buttons",
                "default": true
            },
            {
                "type": "text",
                "id": "social_message",
                "label": "Social sharing buttons heading",
                "default": "Spread the word"
            },
            {
                "type": "checkbox",
                "id": "share_facebook",
                "label": "Share on Facebook",
                "default": true
            },
            {
                "type": "text",
                "id": "share_facebook_text",
                "label": "Facebook title",
                "default": "Share"
            },
            {
                "type": "checkbox",
                "id": "share_twitter",
                "label": "Tweet on Twitter",
                "default": true
            },
            {
                "type": "text",
                "id": "share_twitter_text",
                "label": "Twitter title",
                "default": "Tweet"
            },
            {
                "type": "checkbox",
                "id": "share_pinterest",
                "label": "Pin on Pinterest",
                "default": true
            },
            {
                "type": "text",
                "id": "share_pinterest_text",
                "label": "Pinterest title",
                "default": "Pin it"
            }
        ]
    }
{% endschema %}
