<footer id="velaFooter">
	<div class="footerCenter">
	    <div class="footerContainer">
	        <div class="footerCenterInner">
                <div class="rowFlex rowFlexMargin flexJustifyCenter">
                    {%- if section.settings.footer_menu -%}
                    {%- if section.settings.newsletter_enable -%}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            {% include 'vela-footer-newsletter' %}
                        </div>
                    {%- endif -%}
                  
                   <div class="col-xs-12 col-sm-1 col-md-2">
                  </div>
                        <div class="col-xs-12 col-sm-5 col-md-6">
                            {%- assign menuTitle = section.settings.footer_menu_title -%}
                            {%- assign menuHandle = section.settings.footer_menu_handle -%}
                            {%- assign menuTitle1 = section.settings.footer_menu_title2 -%}
                            {%- assign menuHandle1 = section.settings.footer_menu_handle2 -%}
                            {% include 'vela-footer-menu2' %}
                        </div>
                    {%- endif -%}
                </div>
              <div class="row">
                    <div class="footerCopyRightInner">
                <div class="velaCopyRight">{{ section.settings.footer_copyright }}</div>
            </div>
                </div>
	        </div>
	    </div>
    </div>
</footer>
{% schema %}
  	{
        "name": "Footer",
        "settings": [
            {
                "type": "header",
                "content": "Footer Contact"
            },
            {
                "type": "checkbox",
                "id": "footer_html_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "footer_html_title",
                "label": "Heading"
            },
            {
                "type": "html",
                "id": "footer_html_content",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "footer_html_address",
                "label": "Contact address"
            },
            {
                "type": "text",
                "id": "footer_html_phone",
                "label": "Contact phone"
            },
            {
                "type": "text",
                "id": "footer_html_email",
                "label": "Contact email"
            },
            {
                "type": "header",
                "content": "Footer Twitter"
            },
            {
                "type": "checkbox",
                "id": "twitter",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "twitter_title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "twitter_url",
                "label": "Twitter URL",
                "placeholder": "https://twitter.com/velatheme"
            },
            {
                "type": "color",
                "id": "twitter_link_color",
                "label": "Link color",
                "default": "#2b7bb9"
            },
            {
                "type": "select",
                "id": "twitter_theme",
                "label": "Twitter theme",
                "options": [
                    {
                        "value": "light",
                        "label": "Light"
                    },
                    {
                        "value": "dark",
                        "label": "Dark"
                    }
                ]
            },
            {
                "type": "text",
                "id": "twitter_limit",
                "label": "Limiting the number of Tweets displayed",
                "default": "1"
            },
            {
                "type": "checkbox",
                "id": "twitter_noheader",
                "label": "No header"
            },
            {
                "type": "checkbox",
                "id": "twitter_nofooter",
                "label": "No footer"
            },
            {
                "type": "checkbox",
                "id": "twitter_noborders",
                "label": "No borders"
            },
            {
                "type": "checkbox",
                "id": "twitter_scrollbar",
                "label": "No scrollbar"
            },
            {
                "type": "checkbox",
                "id": "twitter_transparent",
                "label": "Background transparent"
            },
            {
                "type": "header",
                "content": "Footer Instagram"
            },
            {
                "type": "checkbox",
                "id": "footer_instagram",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "footer_instagram_title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "footer_instagram_view",
                "label": "View instagram",
                "placeholder": "View instagram"
            },
            {
                "type": "url",
                "id": "footer_instagram_viewurl",
                "label": "Instagram URL"
            },
            {
                "type": "text",
                "id": "footer_instagram_userid",
                "label": "User Id (*)",
                "placeholder": "User Id",
                "default": "2292239002",
                "info": "[Where do I find User ID?](https:\/\/smashballoon.com\/instagram-feed\/find-instagram-user-id\/)"
            },
            {
                "type": "text",
                "id": "footer_instagram_accessToken",
                "label": "Access token (*)",
                "placeholder": "Access Token",
                "default": "2292239002.1677ed0.fac0c0ffe73643cd8f4838b89b4c11a3",
                "info": "[Where do I find Access Token?](http:\/\/instagram.pixelunion.net\/)"
            },
            {
                "type": "text",
                "id": "footer_instagram_limited",
                "placeholder": "Ex:8",
                "label": "Limit The Number of Images",
                "default": "8"
            },
            {
                "type": "select",
                "id": "footer_instagram_resolution",
                "label": "Resolution of images",
                "options": [
                    {
                        "value": "thumbnail",
                        "label": "Thumbnail (150x150)"
                    },
                    {
                        "value": "low_resolution",
                        "label": "Low Resolution (320x320)"
                    },
                    {
                        "value": "standard_resolution",
                        "label": "Standard Resolution (640x640)"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Footer Menu"
            },
            {
                "type": "checkbox",
                "id": "footer_menu",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "footer_menu_title",
                "label": "Heading"
            },
            {
                "type": "link_list",
                "id": "footer_menu_handle",
                "label": "Footer menu",
                "info": "Choose menu for block. Add new menu: Admin -> Navigation"
            },
            {
                "type": "header",
                "content": "Footer Menu"
            },
            {
                "type": "checkbox",
                "id": "footer_menu2",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "footer_menu_title2",
                "label": "Heading"
            },
            {
                "type": "link_list",
                "id": "footer_menu_handle2",
                "label": "Footer menu",
                "info": "Choose menu for block. Add new menu: Admin -> Navigation"
            },
            {
                "type": "header",
                "content": "Footer Menu"
            },
            {
                "type": "checkbox",
                "id": "footer_menu3",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "footer_menu_title3",
                "label": "Heading"
            },
            {
                "type": "link_list",
                "id": "footer_menu_handle3",
                "label": "Footer menu",
                "info": "Choose menu for block. Add new menu: Admin -> Navigation"
            },
            {
                "type": "header",
                "content": "Footer Newsletter"
            },
            {
                "type": "checkbox",
                "id": "newsletter_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "newsletter_title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "textarea",
                "id": "newsletter_desc",
                "label": "Description",
                "placeholder": "Description"
            },
            {
                "type": "checkbox",
                "id": "newsletter_mailchimp",
                "label": "Use mailChimp",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
            },
            {
                "type": "text",
                "id": "newsletter_form_action",
                "label": "MailChimp form action URL",
                "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
            },
            {
                "type": "header",
                "content": "Vela Social"
            },
            {
                "type": "checkbox",
                "id": "social_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "social_title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "social_facebook",
                "placeholder": "Link your Facebook",
                "label": "Facebook URL"
            },
            {
                "type": "text",
                "id": "social_twitter",
                "placeholder": "Link your Twitter",
                "label": "Twitter URL"
            },
            {
                "type": "text",
                "id": "social_instagram",
                "placeholder": "Link your Instagram",
                "label": "Instagram URL"
            },
            {
                "type": "text",
                "id": "social_pinterest",
                "placeholder": "Link your Pinterest",
                "label": "Pinterest URL"
            },
            {
                "type": "text",
                "id": "social_youtube",
                "placeholder": "Link your Youtube",
                "label": "Youtube URL"
            },
            {
                "type": "text",
                "id": "social_googleplus",
                "placeholder": "Link your Googleplus",
                "label": "Googleplus URL"
            },
            {
                "type": "text",
                "id": "social_rss",
                "placeholder": "Link your Rss",
                "label": "Rss URL"
            },
            {
                "type": "header",
                "content": "Footer Copyright"
            },
            {
                "type": "text",
                "id": "footer_copyright",
                "label": "Copyright",
                "placeholder": "Copyright"
            },
            {
                "type": "header",
                "content": "Footer Multiple Image"
            },
            {
                "type": "checkbox",
                "id": "footer_image",
                "label": "Enable"
            }
		],
        "blocks": [
            {
                "type": "image",
                "name": "Image item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Image URL"
                    }
                ]
            }
        ]
	}
{% endschema %}