<div class="velaInstagram velaBlock">
    <div class="container">
        <div class="velaInstagramInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div id="velaIns{{ section.id }}" class="boxInstagram" 
                     data-id="velaIns{{ section.id }}"
                     data-userid="{{ section.settings.userid }}"
                     data-accesstoken="{{ section.settings.accessToken }}"
                     data-limit="{{ section.settings.limited }}"
                     data-resolution="{{ section.settings.resolution }}">
              	</div>
                {%- if section.settings.loadmore != blank -%}
                    <div class="insLoadMore">
                        <a class="btnInsLoadMore btnVelaOne" href="javascript:void(0);">{{ section.settings.loadmore }}</a>
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela Instagram",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "text",
                "id": "loadmore",
                "label": "Load more",
                "placeholder": "Button load more text"
            },
			{
                "type": "text",
                "id": "userid",
                "label": "User Id (*)",
                "placeholder": "User Id",
                "default": "2292239002",
                "info": "[Where do I find User ID?](https:\/\/codeofaninja.com\/tools\/find-instagram-user-id)"
            },
            {
                "type": "text",
                "id": "accessToken",
                "label": "Access token (*)",
                "placeholder": "Access Token",
                "default": "2292239002.1677ed0.fac0c0ffe73643cd8f4838b89b4c11a3",
                "info": "[Where do I find Access Token?](http:\/\/instagram.pixelunion.net\/)"
            },
            {
                "type": "text",
                "id": "limited",
                "placeholder": "Ex:8",
                "label": "Limit The Number of Images",
                "default": "8"
            },
			{
                "type": "select",
                "id": "resolution",
                "label": "Resolution of images",
                "options": [
                    {
                      	"value": "thumbnail",
                      	"label": "Thumbnail (150x150)"
                    },
                    {
                      	"value": "low_resolution",
                      	"label": "Low Resolution (320x320)"
                    },
                    {
                      	"value": "standard_resolution",
                      	"label": "Standard Resolution (640x640)"
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "Instagram",
                "category": "4. Vela Image"
            }
        ]
    }
{% endschema %}