{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
<div class="velaLogoList velaBlock">
    <div class="container">
        <div class="velaLogoListInner">
            {%- comment -%}
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- endcomment -%}
            <div class="velaContent">
                <div class="velaOwlRow owlCarouselPlay">
                    <div class="owl-carousel" 
                        data-nav="{{ section.settings.navigation }}" 
                        data-margin="{{ section.settings.margin }}" 
                        data-loop="{{ section.settings.loop }}" 
                        data-autoplay="{{ section.settings.autoplay }}" 
                        data-autoplaytimeout="{{ section.settings.autoplay_timeout }}" 
                        data-columnone="{{ owlColumn1 }}" 
                        data-columntwo="{{ owlColumn2 }}" 
                        data-columnthree="{{ owlColumn3 }}" 
                        data-columnfour="{{ owlColumn4 }}" 
                        data-columnfive="{{ owlColumn5 }}">
                        {% for block in section.blocks %}
                            <div class="item">
                                <div class="logoImage">
                                    {%- if block.settings.link != blank -%}
                                        <a href="{{ block.settings.link }}">
                                    {%- endif -%}
                                        {%- if block.settings.image != blank -%}
                                            <img class="img-responsive" alt="{{ block.settings.image.alt | default: shop.name }}" src="{{ block.settings.image | img_url:'master' }}" />
                                        {%- else -%}
                                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/300x200" />
                                        {%- endif -%}
                                    {%- if block.settings.link != blank -%}
                                        </a>
                                    {%- endif -%}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela logo list",
        "class": "velaFramework",
		"max_blocks": 18,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "text",
                "id": "margin",
                "label": "Margin",
                "default": "30",
                "info": "Margin-right(px) on item."
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Infinity loop",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_timeout",
                "label": "Autoplay timeout",
                "placeholder": "Default: 10000(ms)",
                "info": "Autoplay interval timeout.",
                "default": "10000"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "#Column 1",
                "default": 4,
                "info": "Large desktops"
            },
            {
                "type": "range",
                "id": "column2",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 2",
                "default": 3,
                "info": "Desktops & Tablets landscape"
            },
            {
                "type": "range",
                "id": "column3",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 3",
                "default": 2,
                "info": "Tablets"
            },
            {
                "type": "range",
                "id": "column4",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 4",
                "default": 2,
                "info": "Mobile phone landscape"
            },
            {
                "type": "range",
                "id": "column5",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 5",
                "default": 1,
                "info": "Mobile phone"
            }
        ],
		"blocks": [
			{
                "type": "image",
                "name": "Logo item",
                "settings": [
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Logo URL"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Logo image",
                        "info": "Default size:288x100 pixels"
                    }
                ]
            }
		],
        "presets": [
            {
                "name": "Logo list",
                "category": "4. Vela Image",
				"blocks": [
                    {
                        "type":"image"
                    },
                    {
                        "type":"image"
                    },
					{
                        "type":"image"
                    },
					{
                        "type":"image"
                    },
					{
                        "type":"image"
                    },
					{
                        "type":"image"
                    }
                ]
            }
        ]
    }
{% endschema %}