{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
{%- assign proLimit = section.settings.limit | plus:0 -%}
{%- if section.settings.image_size != blank -%}
    {%- assign proImageSize = section.settings.image_size -%}
{%- else -%}
    {%- assign proImageSize = 'master' -%}
{%- endif -%}
<div class="velaProductTabs velaBlock">
    <div class="container">
        <div id="proTab{{ section.id }}" class="velaProducts">
            <div class="productTabTitle">
                {%- if section.settings.title != blank -%}
                    <h3 class="velaHomeTitle" data-toggle="dropdown">
                        {{ section.settings.title }}
                    </h3>
                {%- endif -%}
                <div class="dropdown-menu">
                    <ul class="nav proTabNav">
                        {% for block in section.blocks %}
                            <li {% if forloop.first %}class="active"{% endif %}>
                                <a href="#proTab{{ forloop.index }}{{ section.id }}" data-toggle="tab">{{ block.settings.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div class="navTabContent tab-content">
                    {% for block in section.blocks %}
                        {%- assign proCollection = block.settings.collection_handle -%}
                        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="proTab{{ forloop.index }}{{ section.id }}">
                            <div class="proOwlCarousel owlCarouselPlay">
                                <div class="owl-carousel" 
                                    data-nav="{{ section.settings.navigation }}" 
                                    data-margin="{{ section.settings.margin }}" 
                                    data-loop="{{ section.settings.loop }}" 
                                    data-autoplay="{{ section.settings.autoplay }}" 
                                    data-autoplaytimeout="{{ section.settings.autoplay_timeout }}" 
                                    data-columnone="{{ owlColumn1 }}" 
                                    data-columntwo="{{ owlColumn2 }}" 
                                    data-columnthree="{{ owlColumn3 }}" 
                                    data-columnfour="{{ owlColumn4 }}" 
                                    data-columnfive="{{ owlColumn5 }}">
                                    {% for product in collections[proCollection].products limit:proLimit %}
                                        <div class="item">
                                            {% include 'product-grid-item' %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela product tabs",
        "class": "velaFramework",
        "max_blocks": 8,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "default": "270x320",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "text",
                "id": "margin",
                "label": "Margin",
                "default": "30",
                "info": "Margin-right(px) on item."
            },
            {
                "type": "text",
                "id": "limit",
                "label": "Limit",
                "default": "8"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Infinity loop",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_timeout",
                "label": "Autoplay timeout",
                "placeholder": "Default: 10000(ms)",
                "info": "Autoplay interval timeout.",
                "default": "10000"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 1",
                "default": 4,
                "info": "Large desktops"
            },
            {
                "type": "range",
                "id": "column2",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 2",
                "default": 3,
                "info": "Desktops & Tablets landscape"
            },
            {
                "type": "range",
                "id": "column3",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 3",
                "default": 2,
                "info": "Tablets"
            },
            {
                "type": "range",
                "id": "column4",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 4",
                "default": 2,
                "info": "Mobile phone landscape"
            },
            {
                "type": "range",
                "id": "column5",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 5",
                "default": 1,
                "info": "Mobile phone"
            }
        ],
        "blocks": [
            {
                "type": "tabitem",
                "name": "Tab Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Tab Title"
                    },
                    {
                        "type": "collection",
                        "id": "collection_handle",
                        "label": "Collection"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product tabs",
                "category": "2. Vela Product",
                "blocks": [
                    {
                        "type":"tabitem",
                        "settings":{
                            "title": "Tab Title 1",
                            "collection_handle": "frontpage"
                        }
                    },
                    {
                        "type":"tabitem",
                        "settings":{
                            "title": "Tab Title 2",
                            "collection_handle": "frontpage"
                        }
                    }
                ]
            }
        ]
    }
{% endschema %}