<div class="velaHTMLOne velaBlock">
    <div class="velaHTMLOneImage">
        <div class="row noGutter">
            <div class="htmlBoxImage col-xs-12 col-md-6 col-md-offset-6">
                {%- if section.settings.image != blank -%}
                    <img class="img-responsive" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url:'master' }}" />
                {%- else -%}
                    <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/845x568" />
                {%- endif -%}
            </div>
        </div>
    </div>
    <div class="velaHTMLOneInner">
        <div class="container">
            <div class="velaContent">
                {%- if section.settings.title != blank -%}
                    <h3 class="htmlOneTitle">{{ section.settings.title }}</h3>
                {%- endif -%}
                {%- if section.settings.description != blank -%}
                    <div class="htmlOneDesc">
                        {{ section.settings.description }}
                    </div>
                {%- endif -%}
                {%- if section.settings.btntext != blank -%}
                    <a class="btn btnVelaOne" href="{{ section.settings.url }}" title="{{ section.settings.btntext | escape }}">
                        {{ section.settings.btntext }}
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela HTML one",
        "class": "velaFramework",
        "settings":[
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "html",
                "id": "description",
                "label": "Description",
                "placeholder": "Description"
            },
            {
                "type": "text",
                "id": "btntext",
                "label": "Button text",
                "placeholder": "Text"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Button URL"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Banner image"
            }
        ],
        "presets": [
            {
                "name": "Text & image",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}