{%- if section.settings.bgcolor != 'rgba(0,0,0,0)' -%}
    {% capture bgColor %}
        background-color: {{ section.settings.bgcolor }};
    {% endcapture %}
{%- endif -%}
{%- if section.settings.bgimage != blank -%}
    {% capture bgImage %}
        background-image: url({{ section.settings.bgimage | img_url:'master' }});
    {% endcapture %}
{%- endif -%}
<div class="velaServices velaBlock" style="{{ bgColor }}{{ bgImage }}">
    <div class="container">
        <div class="velaServicesInner">
            <div class="velaContent">
                {%- if section.blocks.size > 0 -%}
                    <div class="rowFlex rowFlexMargin flexJustifyCenter">
                        {% for block in section.blocks %}
                            <div class="col-xs-12 col-sm-4">
                                <div class="boxService text-center">
                                    {%- if block.settings.icon != blank -%}
                                        <div class="boxServiceImage">
                                            <i class="fa fa-{{ block.settings.icon }}"></i>
                                        </div>
                                    {%- endif -%}
                                    <div class="boxServiceContent">
                                        {%- if block.settings.box_title != blank -%}
                                            <h4 class="boxServiceTitle">{{ block.settings.box_title }}</h4>
                                        {%- endif -%}
                                        {%- if block.settings.box_desc != blank -%}
                                            <div class="boxServiceDesc">
                                                {{ block.settings.box_desc }}
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela Service",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "color",
                "id": "bgcolor",
                "label": "Background color",
                "default": "rgba(0,0,0,0)"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image",
                "info": "Default size: 1920x1080 pixels"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Service item",
                "settings": [
                    {
                        "type": "text",
                        "id": "icon",
                        "label": "Font Awesome",
                        "placeholder": "truck",
                        "info": "You can see icon class [here](http://fontawesome.io/icons/)" 
                    },
                    {
                        "type": "text",
                        "id": "box_title",
                        "label": "Box heading"
                    },
                    {
                        "type": "textarea",
                        "id": "box_desc",
                        "label": "Box description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Our services",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}