<div class="pageContact">
    <div class="rowFlex rowFlexMargin flexJustifyCenter">
        <div class="col-xs-12 col-md-6">
            <div class="pageContactLeft">
                <div class="formContactUs">
                    {% form 'contact' %}
                        <div class="formContent">
                            {% if form.posted_successfully? %}
                                <div class="alert alert-success">
                                    {{ 'contact.form.post_success' | t }}
                                </div>
                            {% endif %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors | default_errors }}
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        {% assign name_attr = 'contact.form.name' | t | handle %}
                                        <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                                        <input type="text" id="ContactFormName" class="form-control" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                                        <input type="email" id="ContactFormEmail" class="form-control" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {% assign name_attr = 'contact.form.phone' | t | handle %}
                                <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
                                <input type="tel" id="ContactFormPhone" class="form-control" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
                                <textarea rows="6" id="ContactFormMessage" class="form-control" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                            </div>
                            <div class="form-button">
                                <input type="submit" class="btn btnVelaOne" value="{{ 'contact.form.send' | t }}">
                            </div>
                        </div>
                    {% endform %}
                </div>
            </div>
        </div>
        {%- if section.settings.googlemap_enable or section.settings.contact_details_enable -%}
            <div class="col-xs-12 col-md-6">
                <div class="pageContactRight">
                    {%- if section.settings.googlemap_enable -%}
                        <div class="velaGoogleMap">
                            <div id="googleMap{{ section.id }}" class="velaGoogleMapInner"></div>
                            <div class="googleOverPlay"></div>
                            <script type="text/javascript">
                                function initMap() {
                                    var uluru = {lat: {{ section.settings.latitude }}, lng: {{ section.settings.longitude }}};
                                    var map = new google.maps.Map(document.getElementById('googleMap{{ section.id }}'), {
                                        zoom: {{ section.settings.zoom }},
                                        center: uluru,
                                        zoomControlOptions: {
                                            position: google.maps.ControlPosition.LEFT_BOTTOM
                                        },
                                        styles: [
                                            {elementType: 'geometry', stylers: [{color: '#ebebeb'}]},
                                            {elementType: 'labels.text.fill', stylers: [{color: '#252525'}]},
                                            {
                                                featureType: 'poi.park',
                                                elementType: 'geometry',
                                                stylers: [{color: '#ebebeb'}]
                                            },
                                            {
                                                featureType: 'road',
                                                elementType: 'geometry',
                                                stylers: [{color: '#fdfdfd'}]
                                            },
                                            {
                                                featureType: 'water',
                                                elementType: 'geometry',
                                                stylers: [{color: '#99b3cc'}]
                                            }
                                        ],
                                    });
                                    var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map
                                    });
                                }
                            </script>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.contact_details_enable -%}
                        <div class="velaContactBox">
                            {%- if section.settings.contact_details_address != blank -%}
                                <div class="velaContactBoxText velaContactBoxAddress">
                                    {{ section.settings.contact_details_address }}
                                </div>
                            {%- endif -%}
                            {%- if section.settings.contact_details_phone != blank -%}
                                <div class="velaContactBoxText velaContactBoxPhone">
                                    {{ section.settings.contact_details_phone }}
                                </div>
                            {%- endif -%}
                            {%- if section.settings.contact_details_email != blank -%}
                                <div class="velaContactBoxText velaContactBoxEmail">
                                    {{ section.settings.contact_details_email }}
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
    </div>
</div>
{% schema %}
  	{
        "name": "Vela Contact Page",
        "settings": [
            {
                "type": "header",
                "content": "Google Map"
            },
            {
                "type": "checkbox",
                "id": "googlemap_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "latitude",
                "label": "Latitude",
                "placeholder": "Latitude",
                "default": "45.420469"
            },
            {
                "type": "text",
                "id": "longitude",
                "label": "Longitude",
                "placeholder": "Longitude",
                "default": "-75.692782"
            },
            {
                "type": "range",
                "id": "zoom",
                "min": 1,
                "max": 20,
                "step": 1,
                "label": "Zoom Levels",
                "default": 12
            },
            {
                "type": "header",
                "content": "Contact Details"
            },
            {
                "type": "checkbox",
                "id": "contact_details_enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "contact_details_address",
                "label": "Address",
                "placeholder": "Address"
            },
            {
                "type": "text",
                "id": "contact_details_phone",
                "label": "Phone",
                "placeholder": "Phone"
            },
            {
                "type": "text",
                "id": "contact_details_email",
                "label": "Email",
                "placeholder": "Email"
            }
		]
  	}
{% endschema %}