<header id="velaHeader" class="velaHeader">
    <section class="headerWrap">
        <div class="velaTopbar">
          {%- if section.settings.header_text1 != blank -%}
          	<div class="topBarText">{{ section.settings.header_text1 }}</div>
          {%- endif -%}
          {% comment %}
            <div class="container">
                <div class="velaTopbarInner clearfix">
                    {% include 'vela-currencies' %}
                    {%- if section.settings.header_text1 != blank or section.settings.header_text1 != blank -%}
                        <div class="headerText">
                            {%- if section.settings.header_text1 != blank -%}
                                <div class="headerTextItem">{{ section.settings.header_text1 }}</div>
                            {%- endif -%}
                            {%- if section.settings.header_text2 != blank -%}
                                <div class="headerTextItem">{{ section.settings.header_text2 }}</div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                    {% include 'vela-toplinks' %}
                </div>
            </div>
          {% endcomment %}
        </div>
        <div class="velaHeaderMain">
            <div class="container-logo">
                <div class="headerContent">
                    <div class="velaHeaderLeft">
                        {%- if template == 'index' -%}
                            <h1 class="velaLogo" itemscope itemtype="http://schema.org/Organization">
                        {%- else -%}
                            <div class="velaLogo" itemscope itemtype="http://schema.org/Organization">
                        {%- endif -%}
                        {%- if section.settings.logo -%}
                            <a href="/" itemprop="url" class="velaLogoLink">
                              	<span class="text-hide">{{ shop.name }}</span>
                              	{%- if section.settings.logo_retina -%}
                                    <img src="{{ section.settings.logo | img_url:'master' }}"
                                        srcset="{{ section.settings.logo | img_url:'master' }} 1x, {{ section.settings.logo_retina | img_url:'master' }} 2x"
                                        alt="{{ section.settings.logo.alt | default: shop.name }}"
                                        itemprop="logo">
                                {%- else -%}
                              {% if template contains 'ciel' or template contains 'Ciel' %}
                                   <img class="img-responsive" src="{{ section.settings.logo1 | img_url:'master' }}" 
                                        srcset="{{ section.settings.logo1 | img_url:'master' }}"
                                        alt="{{ section.settings.logo1.alt | default: shop.name }}"
                                        itemprop="logo">
                              {% else %}
                               <img class="img-responsive headlogo" src="{{ section.settings.logo | img_url:'master' }}" 
                                        srcset="{{ section.settings.logo | img_url:'master' }}"
                                        alt="{{ section.settings.logo.alt | default: shop.name }}"
                                        itemprop="logo">
                                {%- endif -%}
                              {%- endif -%}
                            </a>
                        {%- else -%}
                            <a href="/" itemprop="url" class="velaLogoLink">{{ shop.name }}</a>
                        {%- endif -%}
                        {%- if template != 'index' -%}
                            </div>
                        {%- else -%}
                            </h1>
                        {%- endif -%}
                    </div>
                    <div class="velaHeaderCenter">
                        <div class="headerMenu">
                            {% include 'vela-header-menu' %}
                        </div>
                    </div>
                    <div class="velaHeaderRight">
                        {% include 'sideSearch' %}
                        {% include 'vela-carttop' %}
                        {% include 'vela-carttop2' %}
                        {% include 'sideMenu' %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
{% schema %}
	{
      	"name": "Header",
      	"settings": [
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Upload logo"
            },
            {
                "type": "image_picker",
                "id": "logo1",
                "label": "Upload logo"
            },
            {
                "type": "image_picker",
                "id": "logo_retina",
                "label": "Upload logo (Retina version)"
            },
            {
                "type": "header",
                "content": "Header text"
            },
            {
                "type": "text",
                "id": "header_text1",
                "label": "Text 1"
            },
            {
                "type": "text",
                "id": "header_text2",
                "label": "Text 2"
            },
            {
                "type": "header",
                "content": "Header user links"
            },
            {
                "type": "text",
                "id": "header_toplinks_title",
                "label": "Heading"
            },
            {
                "type": "link_list",
                "id": "header_toplinks",
                "label": "Header user menu"
            },
            {
                "type": "header",
                "content": "Main menu"
            },
            {
                "type": "checkbox",
                "id": "velamenu_enable",
                "label": "Enable"
            },
            {
                "type": "link_list",
                "id": "velamenu_linklist",
                "label": "Menu navigation",
                "default": "main-menu"
            },
            {
                "type": "text",
                "id": "velamenu_menumobile_title",
                "label": "Menu mobile title",
                "placeholder": "Menu Mobile Title",
                "default": "Menu Mobile"
            }
        ],
        "blocks": [
            {
                "type": "text",
                "name": "Megamenu Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "velamenu_item",
                        "label": "Menu item name",
                        "info": "Menu item of main-menu. Menu item has dropdown megamenu."
                    },
                    {
                        "type": "header",
                        "content": "Block navigation",
                        "info": "Admin -> Navigation -> Menu. Position:1"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_menu_enable",
                        "label": "Enable navigation"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_menu_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_menu_menucol",
                        "label": "Class for each menu",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "header",
                        "content": "Block products",
                        "info": "Position:2"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_product_enable",
                        "label": "Enable products"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_product_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_product_title",
                        "label": "Block heading"
                    },
                    {
                        "type": "collection",
                        "id": "velamenu_product_collection",
                        "label": "Collection"
                    },
                    {
                        "type": "header",
                        "content": "Block html",
                        "info": "Position:3"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_html_enable",
                        "label": "Enable html"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_html_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_html_title",
                        "label": "Block heading"
                    },
                    {
                        "type": "html",
                        "id": "velamenu_html_content",
                        "label": "Content HTML",
                        "info": "You can input HTML code, img tag, video code, ..."
                    },
                    {
                        "type": "header",
                        "content": "Block banner",
                        "info": "Position:4"
                    },
                    {
                        "type": "checkbox",
                        "id": "velamenu_banner_enable",
                        "label": "Enable banner"
                    },
                    {
                        "type": "text",
                        "id": "velamenu_banner_col",
                        "label": "Class for block",
                        "info": "Ex: 'col-sm-3'. The width of the block is 25%"
                    },
                    {
                        "type": "text",
                        "id": "image_size",
                        "label": "Image size",
                        "default": "255x300",
                        "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
                    },
                    {
                        "type": "image_picker",
                        "id": "velamenu_banner",
                        "label": "Banner image"
                    },
                    {
                        "type": "url",
                        "id": "velamenu_banner_link",
                        "label": "Banner URL"
                    }
                ]
            }
        ]
    }
{% endschema %}