<div class="cartContainer">
    <h1 class="cartTitle{% if cart.item_count < 1 %} hidden{% endif %}">{{ 'cart.general.title' | t }}</h1>
    <div class="cartContent">
        {% if cart.item_count > 0 %}
            <form action="/cart" method="post" novalidate class="cartForm">
                <div class="cartTable">
                    <div class="row noGutter cartHeaderLabels">
                        <div class="text-center col-xs-12 col-sm-2">{{ 'cart.label.image' | t }}</div>
                        <div class="text-center col-xs-12 col-sm-3">{{ 'cart.label.product' | t }}</div>
                        <div class="text-center col-xs-12 col-sm-2">{{ 'cart.label.price' | t }}</div>
                        <div class="text-center col-xs-12 col-sm-2">{{ 'cart.label.quantity' | t }}</div>
                        <div class="text-right col-xs-12 col-sm-2">{{ 'cart.label.total' | t }}</div>
                        <div class="text-center col-xs-12 col-sm-1">&nbsp;</div>
                    </div>
                    <div class="cartItemWrap">
                        {% for item in cart.items %}
                            <div class="rowFlex flexAlignCenter noGutter">
                                <div class="cartProductImage col-xs-12 col-sm-2" data-label="{{ 'customer.order.product' | t }}">
                                    <a href="{{ item.url | within: collections.all }}" class="cartImage">
                                      <img src="{{ item | img_url: '120x' }}" alt="{{ item.title | escape }}">
                                    </a>
                                </div>
                                <div class="cartProductName col-xs-12 col-sm-3">
                                    <a href="{{ item.url }}" class="productName">
                                        {{ item.product.title }}
                                    </a>
                                    {% unless item.variant.title contains 'Default' %}
                                        <small>{{ item.variant.title }}</small>
                                    {% endunless %}
                                    {%- if settings.cart_vendor_enable -%}
                                        <div class="cartProductProp">{{ 'products.product.vendor' | t }}: {{ item.vendor }}</div>
                                    {%- endif -%}
                                    {%- assign property_size = item.properties | size -%}
                                    {% if property_size > 0 %}
                                        {% for p in item.properties %}
                                            {% unless p.last == blank %}
                                                <div class="cartProductProp">
                                                    {{ p.first }}:
                                                    {% if p.last contains '/uploads/' %}
                                                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                    {% else %}
                                                        {{ p.last }}
                                                    {% endif %}
                                                </div>
                                            {% endunless %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="cartProductPrice text-center col-xs-12 col-sm-2" data-label="{{ 'cart.label.price' | t }}">
                                    <span class="priceProduct">
                                        {{ item.price | money }}
                                    </span>
                                </div>
                                <div class="cartProductQty text-center col-xs-12 col-sm-2" data-label="{{ 'cart.label.quantity' | t }}">
                                    <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
                                </div>
                                <div class="cartProductSubtotal text-right col-xs-12 col-sm-2" data-label="{{ 'cart.label.total' | t }}">
                                    <span class="cartSubtotal">
                                        {{ item.line_price | money }}
                                    </span>
                                </div>
                                <div class="cartProductRemove text-right col-xs-12 col-sm-1">
                                    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cartRemove">
                                        <i class="fa fa-times"></i>
                                        <span>{{ 'cart.general.remove' | t }}</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="functionCart">
                    {%- if settings.cart_notes_enable -%}
                        <div class="functionCartNote">
                            <div class="velaCartNoteButton">
                                <a class="btnCartNote collapsed" href="#velaCartNote" data-toggle="collapse">
                                    <i class="fa fa-times"></i>
                                    {{ 'cart.general.add_note' | t }}
                                </a>
                            </div>
                            <div id="velaCartNote" class="velaCartNoteGroup collapse">
                                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                                <textarea name="note" class="form-control" id="CartSpecialInstructions" rows="4">{{ note }}</textarea>
                            </div>
                        </div>
                    {%- endif -%}
                    <div class="text-right">
                        <div class="cartBoxSubtotal">
                            <span class="cartSubtotalTitle">{{ 'cart.general.subtotal' | t }}: </span>
                            <span class="cartSubtotal">{{ cart.total_price | money }}</span>
                        </div>
                        <p class="cartShipping">{{ 'cart.general.shipping_at_checkout' | t }}</p>
                        <div class="functionCartButton">
                            <input type="submit" name="update" class="btn btnUpdateCart" value="{{ 'cart.general.update' | t }}">
                            <input type="submit" name="checkout" class="btn btnCheckout" value="{{ 'cart.general.checkout' | t }}">
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
          <div class="cartEmptyContent">
              <p class="cartEmpty">{{ 'cart.general.empty' | t }}</p>
              <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
              <p><a class="btn btnVelaOne" href="/collections/all" title="{{ 'cart.general.empty_continue' | t }}">{{ 'cart.general.empty_continue' | t }}</a></p>
          </div>
        {% endif %}
    </div>
</div>
{% schema %}
    {
        "name": "Vela Cart Page",
        "settings": [
            
        ]
    }
{% endschema %}