{%- assign proImageSize = section.settings.image_size -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- if product.description contains '[SHORTDESCRIPTION]' -%}
    {%- assign shortDescription = product.description | split:'[SHORTDESCRIPTION]' | first -%}
    {%- assign fullDescription = product.description | split:'[SHORTDESCRIPTION]' | last -%}
{%- else -%}
    {%- assign shortDescription = '' -%}
    {%- assign fullDescription = product.description -%}
{%- endif -%}
<style>
  .container{
  	background-color:#f2f2f2;
  }
  .pro-back{
      	background-color:#f2f2f2;

  }
  .pro-related-back{
  	background-color:#ffffff !important;
  }

  .col-md-1{
    width:6%;
  }
  .rte{
  	text-align:center;
  }
  
  
  @media (min-width:769px) {
  	.pro-des-header{
    color:#000;
  	font-size:20px;
  }
  .pro-des-title{
        color:#000;
  	font-size:60px;
    font-weight:600;
    line-height:1;
  }
  .pro-des-inner-header{
        color:#000;
  	font-size:30px;
        font-weight:500;
    margin-bottom:10px;
  }
  .pro-des-inner-content{
        color:#000;
  	font-size:18px;
    letter-spacing:-0.3px;
    line-height:1.6;
  }
  .pro-inner-text{
    	padding:40px 100px;
  }
    .velaBlock{
    	padding:80px 0;
    }
      .pro-related-back-top{
      	background-color:#ffffff !important;
		margin-bottom:80px;
  }
    .pro-up-img{
    	margin-bottom:0;
      padding:200px 0;
    }
}

@media (max-width:768px) {
      .pro-des-header{
    color:#000;
  	font-size:13px;
  }
  .pro-des-title{
        color:#000;

  	font-size:35px;
    font-weight:600;
    line-height:1;
  }
  .pro-des-inner-header{
        color:#000;

  	font-size:20px;
        font-weight:500;

  }
  .pro-des-inner-content{
        color:#000;

  	font-size:12px;
        letter-spacing:-0.3px;
    line-height:1.6;
  }
  .pro-inner-text{
    	padding:40px 60px;
  }
   .velaBlock{
    	padding:30px 0;
    }
      .pro-related-back-top{
      	background-color:#ffffff !important;
		margin-bottom:15px;
  }
  .pro-up-img{
    	margin-bottom:15px;
    padding: 0 15px;;
    }
}
  
</style>
<div div class="pro-back">
<div class="container">
<div class="productBox" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    <div class="proBoxPrimary">
                              {%- if section.settings.product_collection_enable -%}
                        {%- assign limitedCate = section.settings.product_coll_limit | plus:0 -%}
                            <div class="proPageCategories">
                                {% for collection in product.collections limit:limitedCate %}
                                    {%- if forloop.last -%}
                                        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
                                    {%- else -%}
                                        <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a> /
                                    {%- endif -%}
                                {% endfor %}
                            </div>
                        {%- endif -%}
        <div class="row">
          	<div class="proBoxImage col-xs-12 col-md-1 prodesk" style="padding:0 !important;">
              {%- if product.images.size > 1 -%}
                    <div id="productThumbs" class="proThumbnails">
                        <div class="owl-thumblist">
                            
                                {%- for image in product.images -%}
                                    <div class="thumbItem">
                                        <a {% if forloop.first %}class="active"{% endif %} href="{{ image.src | img_url: 'master' }}" 
                                            data-imageid="{{ image.id }}" 
                                            data-image="{{ image.src | img_url: proImageSize }}" 
                                            data-zoom-image="{{ image.src | img_url: 'master' }}"
                                            id="{{forloop.index}}">
                                            <img class="img-responsive-thumb" src="{{ image.src | img_url: '150x' }}" alt="{{ image.alt | escape }}">
                                        </a>
                                    </div>
                                {%- endfor -%}
                           
                        </div>
                    </div>
                {%- endif -%}
          	</div>
          
            <div class="proBoxImage col-xs-12 col-md-6 promainimg prodesk">
                <div class="proFeaturedImage" style="margin-top:5px;">
                    {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
                    <img id="ProductPhotoImg"
                        class="img-responsive"
                        alt="{{ featured_image.alt | escape }}"
                        src="{{ featured_image | img_url: proImageSize }}"
                        data-zoom-enable="{{ section.settings.product_zoom_enable }}"
                        data-zoom-image="{{ featured_image | img_url: 'master' }}"
                        data-zoom-scroll="{{ section.settings.product_scroll_zoom }}"
                        data-zoom-type="{{ section.settings.product_zoom_type }}"
                        data-zoom-width="{{ section.settings.product_zoom_width }}"
                        data-zoom-height="{{ section.settings.product_zoom_height }}"
                        data-zoom-lens="{{ section.settings.product_lens_size }}"
                        data-lens-shape="{{ section.settings.product_lens_type }}"
                    />
                </div>
            </div>
          <div class="proBoxImage col-xs-12 proslide" style="padding:0">
                              <div id="thumbslide" class="proThumbnails">
                       {%- for image in product.images -%}
                                    <div class="thumbItemMobile">
                                        <div data-imageid="{{ image.id }}" 
                                            data-image="{{ image.src | img_url: proImageSize }}" 
                                            data-zoom-image="{{ image.src | img_url: 'master' }}"
                                            id="{{forloop.index}}">
                                            <img class="img-responsive-thumb" src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
                                        </div>
                                    </div>
                                {%- endfor -%}

                    </div>
          </div>
<script>
  $(document).ready(function(){
  $('#thumbslide').slick({
  slidesToShow: 1,
  dots:true,
  infinite: true,
  });
});
      </script>
          
            <div class="col-xs-12 col-md-5">
                <div class="proBoxInfo">
                    {%- if section.settings.product_type_enable -%}
                        <div class="productType"><label class="hidden">{{ 'products.product.type' | t }}: </label>{{ product.type }}</div>
                    {%- endif -%}
                    <h1 itemprop="name">{{ product.title }}</h1>
                    {%- if settings.product_reviews_enable -%}
                        <div class="proReviews">
                            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </div>
                    {%- endif -%}
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                      <p class="pre-order">Pre-order</p>
                        {%- if section.settings.product_available_enable -%}
                            {%- if product.available -%}
                      <p class="proAttr productAvailability instock"><label class="device">{{ 'products.product.availability' | t }}</label>{{'products.product.available' | t }}</p>
                            {%- else -%}
                                <p class="proAttr productAvailability outstock"><label class="device">{{ 'products.product.availability' | t }}</label>{{'products.product.unavailable' | t }}</p>
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.settings.product_vendor_enable -%}
                            <p class="proAttr productVendor"><label>{{ 'products.product.vendor' | t }}</label>{{ product.vendor }}</p>
                        {%- endif -%}
                        {% if section.settings.product_sku_enable %}
                            <p class="proAttr productSKU"><label>{{ 'products.product.sku' | t }}</label>{{ product.selected_or_first_available_variant.sku }}</p>
                        {% endif %}
                      {% if product.title contains 'iPhone X' %}
                       <div class="shorttext">{{ section.settings.iphonex }}</div>
                      {% elsif product.title contains 'Plus' %}
                       <div class="shorttext">{{ section.settings.plus }}</div>
					  {% else %}
                       <div class="shorttext">{{ section.settings.iphone8 }}</div>
                      {% endif %}
                        <div class="proPrice clearfix">
                            <span id="ProductPrice" class="priceProduct" itemprop="price">
                                {{ current_variant.price | money }}
                            </span>
                            {%- if product.compare_at_price > product.price -%}
                                <span id="ComparePrice" class="priceProduct priceCompare">
                                    {{ current_variant.compare_at_price | money }}
                                </span>
                            {%- endif -%}
                                                <div class="ciel-select">
                       
                                                  
                                                  
{% if product.title contains 'Lover' %}
{% assign device = '10' %}
{% elsif product.title contains 'sky' %}
{% assign device = '20' %}
{% elsif product.title contains 'Angelenos' %}
{% assign device = '30' %}
{% elsif product.title contains 'Sunset' %}
{% assign device = '40' %}
{% endif %}
                                                  
{% if product.title contains 'iPhone X' %}
{% assign default_option = 'iPhone X' %}
{% elsif product.title contains 'Plus' %}
{% assign default_option = 'iPhone 8 Plus' %}
{% else %}
{% assign default_option = 'iPhone 8' %}
{% endif %}                                                  
                        <label class="device">Device Size</label>
                        {% if default_option == 'iPhone X' %}
                        <select class="selection" onchange="changedevice(this.value);">
                          <option value={{ device | append: '1' }}>{{ default_option }}</option>
                          <option value={{ device | append: '2' }}>iPhone 8</option>
                          <option value={{ device | append: '3' }}>iPhone 8 Plus</option>
                        </select>
                                                  {% endif %}
                                                  {% if default_option == 'iPhone 8' %}
                        <select class="selection" onchange="changedevice(this.value);">
                          <option value={{ device | append: '2' }}>{{ default_option }}</option>
                          <option value={{ device | append: '1' }}>iPhone X</option>
                          <option value={{ device | append: '3' }}>iPhone 8 Plus</option>
                        </select>
                                                  {% endif %}
                                                  {% if default_option == 'iPhone 8 Plus' %}
                        <select class="selection" onchange="changedevice(this.value);">
                          <option value={{ device | append: '3' }}>{{ default_option }}</option>
                          <option value={{ device | append: '1' }}>iPhone X</option>
                          <option value={{ device | append: '2' }}>iPhone 8</option>
                        </select>
                                                  {% endif %}
                      </div>
                        </div>

                        {%- if section.settings.product_short_description == 'yes' -%}
                            {%- if shortDescription != blank -%}
                                <div class="proDescription rte" itemprop="description">
                                    {{ shortDescription }}
                                </div>
                            {%- endif -%}
                        {%- elsif section.settings.product_short_description == 'full' -%}
                            {%- if product.description != blank -%}
                                <div class="proDescription rte" itemprop="description">
                                    {{ fullDescription }}
                                </div>
                            {%- endif -%}
                        {%- endif -%}
                        <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
                            {%- assign variantCount = product.variants | size -%}
                            <div class="proVariants clearfix">
                                <select name="id" id="productSelect">
                                    {% for variant in product.variants %}
                                        {%- if variant.available -%}
                                            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                                        {%- else -%}
                                            <option disabled="disabled">
                                                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                                            </option>
                                        {%- endif -%}
                                    {% endfor %}
                                </select>
                                {%- if settings.product_swatch -%}
                                    {% for option in product.options %}
                                    	{% include 'vela-swatch' with option %}
                                    {% endfor %}
                                {%- endif -%}
                            </div>
                          {% if template contains 'ciel' or template contains 'Ciel' %}
                            <a class="changelink" href="{{amazon_to_url}}" target="_blank" style="display:inline-block">
                      			<p class="btn btnAddToCart" style="font-size:14px !important;">Buy amazon</p>
                      		</a>
                          {% endif %}
                            <div class="proQuantity col-xs-3">
                                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="qtySelector">
                            </div>
                          
                            <div class="proButton col-xs-9">
                                <button type="submit" name="add" id="AddToCart" class="btn btnAddToCart btnAddToCartPro">
                                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                                </button>
                            </div>
                        </form>

                        {%- if section.settings.product_tags_enable -%}
                            <div class="proDetailTagMore">
                                {%- assign limitedTag = section.settings.product_tags_limit -%}
                                {%- if section.settings.product_tags_title != blank -%}
                                    <div class="proPageTags">
                                        <div class="tagTitle">{{ section.settings.product_tags_title }}</div>
                                        {% for tag in product.tags limit:limitedTag %}
                                            {%- if forloop.last -%}
                                                <span>{{ tag }}</span>
                                            {%- else -%}
                                                <span>{{ tag }}, </span>
                                            {%- endif -%}
                                        {% endfor %}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                        {% include 'vela-product-sharing' %}
                    </div>
                </div>
            </div>
        </div>
      
      
      {% comment %}
        <section class="proDetailInfo">
            {%- if section.settings.product_tab_type == 'protab' -%}
                <ul class="nav velaProductNavTabs">
                    {%- if section.settings.product_tab1_enable -%}
                        <li>
                            <a href="#proTabs1" data-toggle="tab">{{ section.settings.product_tab1_title }}</a>
                        </li>
                    {%- endif -%}
                    {%- if section.settings.product_tab2_enable -%}
                        <li>
                            <a href="#proTabs2" data-toggle="tab">{{ section.settings.product_tab2_title }}</a>
                        </li>
                    {%- endif -%}
                    {%- if section.settings.product_tab3_enable -%}
                        <li>
                            <a href="#proTabs3" data-toggle="tab">{{ section.settings.product_tab3_title }}</a>
                        </li>
                    {%- endif -%}
                    {%- if section.settings.product_tab4_enable -%}
                        <li>
                            <a href="#proTabs4" data-toggle="tab">{{ section.settings.product_tab4_title }}</a>
                        </li>
                    {%- endif -%}
                </ul>
                <div class="tab-content">
                    {%- if section.settings.product_tab1_enable -%}
                        <div class="tab-pane" id="proTabs1">
                            <div class="rte">{{ fullDescription }}</div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab2_enable -%}
                        <div class="tab-pane" id="proTabs2">
                            <div class="rte">{{ section.settings.product_tab2_content }}</div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab3_enable -%}
                        <div class="tab-pane" id="proTabs3">
                            <div class="rte">{{ section.settings.product_tab3_content }}</div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab4_enable -%}
                        <div class="tab-pane" id="proTabs4">
                            {%- if settings.product_reviews_enable -%}
                                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                </div>
            {%- elsif section.settings.product_tab_type == 'propanel' -%}
                <div class="panel-group" id="vealAccordion">
                    {%- if section.settings.product_tab1_enable -%}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseOne">{{ section.settings.product_tab1_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="rte">{{ fullDescription }}</div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab2_enable -%}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingTwo">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseTwo">{{ section.settings.product_tab2_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="rte">{{ section.settings.product_tab2_content }}</div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab3_enable -%}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingThree">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseThree">{{ section.settings.product_tab3_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="rte">{{ section.settings.product_tab3_content }}</div>
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.product_tab4_enable -%}
                        <div class="panel velaPanel">
                            <div class="panel-heading" id="headingFour">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#vealAccordion" href="#proCollapseFour">{{ section.settings.product_tab4_title }}</a>
                                </h4>
                            </div>
                            <div id="proCollapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% if settings.product_reviews_enable %}
                                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            {%- else -%}
                <div class="reviewOnly">
                    {%- if settings.product_reviews_enable -%}
                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </section>
      {% endcomment %}
       
    </div>
</div>
</div>
</div>

<div class="pro-related-back-top">
<div class="container pro-related-back" style="width:100%; padding:0">
   <div class="rte">{{ fullDescription }}</div>
  </div>
</div>


{% comment %}
<div class="pro-related-back-top">
<div class="container pro-related-back">
   <div class="velaHTML velaBlock">
    <div class="container">
        <div class="velaHTMLInner">
            <div class="velaContent">
                <div class="rte">
                    {{ section.settings.content }}    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="pro-related-back-top">
<div class="container pro-related-back">
   <div class="row">
     <div class="col-xs-12 col-md-6">
       <img class="img-responsive" src="{{ section.settings.image  | img_url:'master'}}">
     </div>
     <div class="col-xs-12 col-md-6">
        <div class="velaContent">
                <div class="rte">
                    {{ section.settings.content_sub }}    
                </div>
                <div class="rte">
                    <img class="img-responsive" src="{{ section.settings.image1  | img_url:'master'}}">
                </div>
            </div>
     </div>
  </div>
</div>
</div>

<div class="pro-related-back-top">
<div class="container pro-related-back">
   <div class="row">
     <div class="col-xs-12">
       <img class="img-responsive" src="{{ section.settings.image2  | img_url:'master'}}">
     </div>
  </div>
</div>
</div>


<div class="pro-related-back-top">
<div class="container pro-related-back">
   <div class="row">
     <div class="col-xs-12 col-md-6">
       <img class="img-responsive" src="{{ section.settings.image3  | img_url:'master'}}">
     </div>
     <div class="col-xs-12 col-md-6">
        <div class="velaContent">

                    <img class="img-responsive" src="{{ section.settings.image4  | img_url:'master'}}">

            </div>
     </div>
  </div>
</div>
</div>

<div class="pro-related-back-top">
<div class="container pro-related-back">
   <div class="row">
     <div class="col-xs-12">
       <img class="img-responsive" src="{{ section.settings.image5  | img_url:'master'}}">
     </div>
  </div>
</div>
</div>

{% endcomment %}

<div class="pro-related-back-top">
<div class="container pro-related-back">
   {% include 'vela-product-related' %}
</div>
</div>
{% schema %}
    {
        "name": "Vela Product Page",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "product_available_enable",
                "label": "Show product available",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_type_enable",
                "label": "Show product type",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_vendor_enable",
                "label": "Show product vendor",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_sku_enable",
                "label": "Show product SKU",
                "default": true
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "default": "480x480",
                "info": "Image size is required."
            },
            {
                "type": "header",
                "content": "Product Zoom"
            },
            {
                "type": "checkbox",
                "id": "product_zoom_enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_scroll_zoom",
                "label": "Scroll zoom",
                "info": "Allow zoom on mousewheel, true to activate",
                "default": true
            },
            {
                "type": "select",
                "id": "product_zoom_type",
                "label": "Zoom type",
                "default": "window",
                "options": [
                    {
                        "value": "window",
                        "label": "Window"
                    },
                    {
                        "value": "inner",
                        "label": "Inner"
                    },
                    {
                        "value": "lens",
                        "label": "Lens"
                    }
                ]
            },
            {
                "type": "text",
                "id": "product_zoom_width",
                "label": "Zoom window width",
                "info": "Use with zoom type Window",
                "default": "500"
            },
            {
                "type": "text",
                "id": "product_zoom_height",
                "label": "Zoom window height",
                "info": "Use with zoom type Window",
                "default": "600"
            },
            {
                "type": "text",
                "id": "product_lens_size",
                "label": "Lens size",
                "info": "Use with zoom type Lens",
                "default": "200"
            },
            {
                "type": "select",
                "id": "product_lens_type",
                "label": "Lens type",
                "info": "Use with zoom type Lens",
                "default": "square",
                "options": [
                    {
                        "value": "square",
                        "label": "Square"
                    },
                    {
                        "value": "round",
                        "label": "Round"
                    }
                ]
            },
            {
                "type": "header",
                "content": "Product Collections"
            },
            {
                "type": "checkbox",
                "id": "product_collection_enable",
                "label": "Show product collections",
                "default": true
            },
            {
                "type": "text",
                "id": "product_collection_title",
                "label": "Box categoies title"
            },
            {
                "type": "range",
                "id": "product_coll_limit",
                "min": 2,
                "max": 10,
                "step": 1,
                "unit": "pcs",
                "label": "Limit",
                "default": 6
            },
            {
                "type": "header",
                "content": "Product Box Tags"
            },
            {
                "type": "checkbox",
                "id": "product_tags_enable",
                "label": "Show box",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tags_title",
                "label": "Box tags title"
            },
            {
                "type": "range",
                "id": "product_tags_limit",
                "min": 2,
                "max": 10,
                "step": 1,
                "unit": "pcs",
                "label": "Limit",
                "default": 6
            },
            {
                "type": "header",
                "content": "Product Short Description"
            },
            {
                "type": "radio",
                "id": "product_short_description",
                "label": "Choose type",
                "options": [
                    {
                        "value": "no",
                        "label": "Don't show"
                    },
                    {
                        "value": "yes",
                        "label": "Show short description"
                    },
                    {
                        "value": "full",
                        "label": "Show full description"
                    }
                ],
                "default": "yes",
                "info": "Use tag [SHORTDESCRIPTION] on product description."
            },
            {
                "type": "header",
                "content": "Product More Info"
            },
            {
                "type": "radio",
                "id": "product_tab_type",
                "label": "Choose type",
                "options": [
                    {
                        "value": "disable",
                        "label": "Don't Show"
                    },
                    {
                        "value": "protab",
                        "label": "Tab More Info"
                    },
                    {
                        "value": "propanel",
                        "label": "Panel More Info"
                    }
                ],
                "default": "protab"
            },
			{
                "type": "html",
                "id": "iphonex",
                "label": "X Feature",
                "default": "None"
            },
			{
                "type": "html",
                "id": "iphone8",
                "label": "8 Feature",
                "default": "None"
            },
			{
                "type": "html",
                "id": "plus",
                "label": "Plus Feature",
                "default": "None"
            },
            {
                "type": "html",
                "id": "content",
                "label": "HTML",
                "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
            },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
               	},
{
                "type": "html",
                "id": "content_sub",
                "label": "Inner HTML",
                "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
            },
                {
                    "type": "image_picker",
                    "id": "image1",
                    "label": "Image1"
               	},
                {
                    "type": "image_picker",
                    "id": "image2",
                    "label": "Image2"
               	},
                {
                    "type": "image_picker",
                    "id": "image3",
                    "label": "Image3"
               	},
                {
                    "type": "image_picker",
                    "id": "image4",
                    "label": "Image4"
               	},
                {
                    "type": "image_picker",
                    "id": "image5",
                    "label": "Image5"
               	},
            {
                "type": "checkbox",
                "id": "product_tab1_enable",
                "label": "1st Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab1_title",
                "label": "1st Heading tab",
                "default": "Details"
            },
            {
                "type": "checkbox",
                "id": "product_tab2_enable",
                "label": "2nd Enable tab"
            },
            {
                "type": "text",
                "id": "product_tab2_title",
                "label": "2nd Heading tab"
            },
            {
                "type": "textarea",
                "id": "product_tab2_content",
                "label": "2nd Tab content"
            },
            {
                "type": "checkbox",
                "id": "product_tab3_enable",
                "label": "3rd Enable tab"
            },
            {
                "type": "text",
                "id": "product_tab3_title",
                "label": "3rd Heading tab"
            },
            {
                "type": "textarea",
                "id": "product_tab3_content",
                "label": "3rd Tab content"
            },
            {
                "type": "checkbox",
                "id": "product_tab4_enable",
                "label": "4th Enable tab",
                "default": true
            },
            {
                "type": "text",
                "id": "product_tab4_title",
                "label": "4th Title tab",
                "default": "Reviews"
            },
            {
                "type": "header",
                "content": "Product Social Sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "product_social_title",
                "label": "Heading"
            },
            {
                "type": "checkbox",
                "id": "product_social_facebook_enable",
                "label": "Show facebook sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_twitter_enable",
                "label": "Show twitter sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_google_enable",
                "label": "Show google plus sharing",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "product_social_linkedin_enable",
                "label": "Show linkedin sharing"
            },
            {
                "type": "checkbox",
                "id": "product_social_pinterest_enable",
                "label": "Show pinterest sharing"
            },
            {
                "type": "header",
                "content": "Product Related"
            },
            {
                "type": "checkbox",
                "id": "product_related_enable",
                "label": "Enable"
            },
            {
                "type": "text",
                "id": "product_related_title",
                "placeholder": "Title for Block",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "product_related_limit",
                "placeholder": "Number. Ex: 8",
                "label": "Limit"
            }
        ]
    }
{% endschema %}
