{%- assign proCollection = section.settings.collection_handle -%}
{%- assign proPage = section.settings.display | plus:0 -%}
{%- if section.settings.image_size != blank -%}
    {%- assign proImageSize = section.settings.image_size -%}
{%- else -%}
    {%- assign proImageSize = 'master' -%}
{%- endif -%}
<div class="productLoadMore velaBlock">
    <div class="container">
        <div class="productLoadMoreInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                {% paginate collections[proCollection].products by proPage %}
                    <div class="producsLoadMore">
                        <div class="row">
                            {% for product in collections[proCollection].products %}
                                <div class="col-xs-6 col-md-3">
                                    {% include 'product-grid-item' %}
                                </div>
                            {% endfor %}
                        </div>
                        {%- if paginate.next -%}
                            <div class="proLoadMoreButton">
                                <a class="btnLoadMore btnVelaOne" href="{{ paginate.next.url }}" title="{{ section.settings.btn_loadmore | escape }}">
                                    {{ section.settings.btn_loadmore }}
                                </a>
                            </div>
                        {%- else -%}
                            <div class="proLoadMoreButton">
                                <a class="btnLoadMore btnVelaOne disableLoadMore" href="javascript:void(0);" title="{{ section.settings.btn_loadmore | escape }}">
                                    {{ section.settings.btn_loadmore }}
                                </a>
                            </div>
                        {%- endif -%}
                    </div>
                    <div class="proLoadMoreBottom"></div>
                {% endpaginate %}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela products more",
        "class": "velaFramework",
        "settings":[
            {
                "type": "header",
                "content": "Only supports one block"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "collection",
                "id": "collection_handle",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Image size",
                "default": "270x320",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "text",
                "id": "btn_loadmore",
                "label": "Button text",
                "placeholder": "Load more"
            },
            {
                "type": "range",
                "id": "display",
                "min": 1,
                "max": 12,
                "step": 1,
                "label": "Number of displayed products",
                "default": 4
            }
        ],
        "presets": [
            {
                "name": "Products load more",
                "category": "2. Vela Product",
                "settings": {
                    "title": "Product Load More",
                    "collection_handle": "frontpage"
                }
            }
        ]
    }
{% endschema %}