<div class="velaAboutUs velaAboutUsTop">
    <div class="container">
        <div class="rowFlex rowFlexMargin flexJustifyCenter flexAlignCenter">
            {%- if section.settings.image != blank -%}
                <div class="col-xs-12 col-sm-6">
                    <div class="velaAboutUsImage">
                        <img class="img-responsive" alt="{{ section.settings.image.alt | default: shop.name }}" src="{{ section.settings.image | img_url:'master' }}" />
                    </div>
                </div>
            {%- endif -%}
            <div class="col-xs-12 col-sm-6">
                <div class="velaAboutUsContent">
                    {%- if section.settings.title != blank -%}
                        <h2 class="velaAboutUsTitle">{{ section.settings.title }}</h2>
                    {%- endif -%}
                    {%- if section.settings.desc != blank -%}
                        <div class="velaAboutUsDesc">
                            <div class="rte">
                                {{ section.settings.desc }}
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.signature != blank -%}
                        <div class="velaAboutUsSignature">
                            <img class="img-responsive" alt="{{ section.settings.signature.alt | default: shop.name }}" src="{{ section.settings.signature | img_url:'master' }}" />
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela About Us",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "html",
                "id": "desc",
                "label": "Description",
                "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
            },
            {
                "type": "image_picker",
                "id": "signature",
                "label": "Signature image"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image left"
            }
        ]
    }
{% endschema %}