<div class="velaNewsletter velaBlock">
    <div class="container">
        <div class="velaNewsletterInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                {%- if section.settings.description != blank -%}
                    <div class="newsletterDescription">{{ section.settings.description }}</div>
                {%- endif -%}
                {%- if section.settings.mailchimp -%}
                    {%- assign form_action = section.settings.form_action -%}
                    <form action="{{ form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="formNewsletter clearfix">
                        <div class="form-group">
                            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" class="form-control" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                            <button class="btn btnNewsletter" type="submit">
                                <span>{{ 'general.newsletter_form.submit' | t }}</span>
                            </button>
                        </div>
                    </form>
                {%- else -%}
                    {% form 'customer' %}
                        <div class="form-group">
                            <input class="form-control" type="email" name="contact[email]" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                            <button class="btn btnNewsletter" type="submit">
                                <span>{{ 'general.newsletter_form.submit' | t }}</span>
                            </button>
                            <input type="hidden" name="action" value="0">
                        </div>
                    {% endform %}
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela newsletter",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "placeholder": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "text",
                "id": "description",
                "placeholder": "Description for block",
                "label": "Description"
            },
            {
                "type": "checkbox",
                "id": "mailchimp",
                "label": "Use mailChimp",
                "default": true
            },
            {
                "type": "paragraph",
                "content": "Uncheck if You use Newsletter of Shopify. Email will be saved to shopify customer. Admin -> Customers -> Accepts Marketting. You must send invite account for customer."
            },
            {
                "type": "text",
                "id": "form_action",
                "label": "MailChimp form action URL",
                "info": "[Where do I find my MailChimp form action URL?](http:\/\/docs.shopify.com\/support\/configuration\/store-customization\/where-do-i-get-my-mailchimp-form-action)"
            }
        ],
        "presets": [
            {
                "name": "Newsletter",
                "category": "5. Vela Text",
				"settings": {
					"title": "Vela Newsletter"
				}
            }
        ]
	}
{% endschema %}