{%- assign owlColumn1 = 1 -%}
{%- assign owlColumn2 = 1 -%}
{%- assign owlColumn3 = 1 -%}
{%- assign owlColumn4 = 1 -%}
{%- assign owlColumn5 = 1 -%}
{%- if section.settings.bgimage != blank -%}
    {%- capture bgImage -%}style="background-image: url({{ section.settings.bgimage | img_url: 'master' }});"{%- endcapture -%}
{%- endif -%}
<div class="velaTestimonials velaBlock" {{ bgImage }}>
    <div class="container">
        <div class="velaTestimonialsInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div class="velaOwlRow owlCarouselPlay">
                    <div class="owl-carousel"
                        data-nav="true"
                        data-margin="0"
                        data-dots="true"
                        data-columnone="{{ owlColumn1 }}"
                        data-columntwo="{{ owlColumn2 }}"
                        data-columnthree="{{ owlColumn3 }}"
                        data-columnfour="{{ owlColumn4 }}"
                        data-columnfive="{{ owlColumn5 }}">
                        {% for block in section.blocks %}
                            <div class="item">
                                <div class="testimonialItem clearfix">
                                    {%- if block.settings.avatar != blank -%}
                                        <div class="testimonialAvatar">
                                            <img class="img-responsive img-circle" 
                                                src="{{ block.settings.avatar | img_url:'500x500' }}" 
                                                alt="{{ block.settings.avatar.alt | default: block.settings.name }}">
                                        </div>
                                    {%- endif -%}
                                    <div class="testimonialContent">
                                        {%- if block.settings.name != blank -%}
                                            <h4 class="testimonialName">{{ block.settings.name }}</h4>
                                        {%- endif -%}
                                        {%- if block.settings.position != blank -%}
                                            <div class="testimonialPosition">{{ block.settings.position }}</div>
                                        {%- endif -%}
                                        {%- if block.settings.review != blank -%}
                                            <div class="testimonialReview">
                                                {{ block.settings.review }}
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela testimonial",
        "class": "velaFramework",
        "max_blocks": 10,
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Testimonial Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "avatar",
                        "label": "Avatar"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Customer name"
                    },
                    {
                        "type": "text",
                        "id": "position",
                        "label": "Customer position"
                    },
                    {
                        "type": "textarea",
                        "id": "review",
                        "label": "Customer review"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Testimonials",
                "category": "5. Vela Text",
                "blocks": [
                    {
                        "type":"item"
                    },
                    {
                        "type":"item"
                    }
                ]
            }
        ]
    }
{% endschema %}