{%- if section.settings.listcoll_type == 'typeone' -%}
    {%- assign pageItems = section.settings.items_page | plus: 0 -%}
    {% paginate collections by pageItems %}
        <div class="velaFlexRow flexRow">
            {%- for collection in collections -%}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="velaBoxCollection">
                        {%- if section.settings.collection_image -%}
                            <div class="velaBoxCollectionImage">
                                <a href="{{ collection.url }}">
                                    {%- if collection.image -%}
                                        <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | collection_img_url: 'master' }}" />
                                    {%- else -%}
                                        {%- if section.settings.image_default != blank -%}
                                            <img class="img-responsive" alt="{{ section.settings.image_default.alt | default: shop.name }}" src="{{ section.settings.image_default | img_url: 'master' }}" />
                                        {%- else -%}
                                            <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/600x400" />
                                        {%- endif -%}
                                    {%- endif -%}
                                </a>
                            </div>
                        {%- endif -%}
                        <div class="velaBoxCollectionContent">
                            <h3 class="collectionTitle">
                                <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
                            </h3>
                            {%- if section.settings.product_count -%}
                                <div class="collectionProductCount">{{ 'collections.general.products_with_count' | t: count:collection.products_count }}</div>
                            {%- endif -%}
                            {%- if collection.description != blank and section.settings.collection_desc -%}
                                <div class="collectionShortDesc">
                                    {{ collection.description | strip_html | truncatewords: 20 }}
                                </div>
                            {%- endif -%}
                            {%- if section.settings.collection_btntext != blank -%}
                                <div class="collectionButtonDetail">
                                    <a href="{{ collection.url }}" title="{{ section.settings.collection_btntext | escape }}">
                                        {{ section.settings.collection_btntext }}
                                    </a>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
            {% include 'vela-pagination' %}
        {%- endif -%}
    {% endpaginate %}
{%- else -%}
    {%- assign pageItems = section.settings.items_propage | plus: 0 -%}
    {% paginate collections by pageItems %}
        {%- for collection in collections -%}
            <div class="velaCollections">
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
                <div class="velaBoxCollectionTop">
                    <h3 class="headerCollection">{{ collection_title }}</h3>
                    <div class="moreProducts">
                        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ 'collections.general.link_title' | t: title: collection_title }}</a>
                      </div>
                </div>
                <div class="proList grid">
                    <div class="velaFlexRow flexRow">
                        {% for product in collection.products limit:4 %}
                            {% include 'product-grid-item' with 'col-sp-12 col-xs-6 col-md-3' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {%- endfor -%}
        {%- if paginate.pages > 1 -%}
            {% include 'vela-pagination' %}
        {%- endif -%}
    {% endpaginate %}
{%- endif -%}
{% schema %}
    {
        "name": "Vela List Collections",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "select",
                "id": "listcoll_type",
                "label": "Page template",
                "default": "typeone",
                "options": [
                    {
                        "label": "List Collections",
                        "value": "typeone"
                    },
                    {
                        "label": "List Products with Collection",
                        "value": "typetwo"
                    }
                ]
            },
            {
                "type": "header",
                "content": "List Collections"
            },
            {
                "type": "checkbox",
                "id": "collection_image",
                "label": "Show collection image",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "image_default",
                "label": "Collection image default"
            },
            {
                "type": "select",
                "id": "items_page",
                "label": "Number items on a page",
                "default": "12",
                "options": [
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "9",
                        "value": "9"
                    },
                    {
                        "label": "12",
                        "value": "12"
                    },
                    {
                        "label": "15",
                        "value": "15"
                    },
                    {
                        "label": "18",
                        "value": "18"
                    }
                ]
            },
            {
                "type": "checkbox",
                "id": "product_count",
                "label": "Show product count",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "collection_desc",
                "label": "Show short description",
                "default": true
            },
            {
                "type": "text",
                "id": "collection_btntext",
                "label": "Collection button"
            },
            {
                "type": "header",
                "content": "List Products with Collection"
            },
            {
                "type": "select",
                "id": "items_propage",
                "label": "Number items on a page",
                "default": "3",
                "options": [
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    }
                ]
            }
        ]
    }
{% endschema %}