<section class="velaBreadcrumbs{% if section.settings.enable %} hasBackgroundImage{% endif %}">
    {%- if section.settings.enable -%}
        <div class="velaBreadcrumbImage">
            {%- assign collectionYN = false -%}
            {%- assign collectionImage = "" -%}
            {%- if template contains 'collection' -%}
                {%- if section.blocks.size > 0 -%}
                    {%- for block in section.blocks -%}
                           
                       

                            {%- assign collectionYN = true -%}
                            {%- assign collectionImage = collection.image -%}
                            {%- break -%}
                        
                    {%- endfor -%}
                {%- endif -%}
            {%- endif -%}
            {%- if collectionYN == true -%}
                {%- if collectionImage != blank -%}
                    <img id="heloo" class="img-responsive" alt="{{ collectionImage.alt | default: shop.name }}" src="{{ collectionImage | img_url: 'master' }}" />
                {%- elsif page_title == 'Products' -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_blog.alt | default: shop.name }}" src="{{ section.settings.bgimage_blog | img_url: 'master' }}" />
                {%- else -%}
                    <img id="2nd" class="img-responsive 1" alt="{{ shop.name }}" src="//placehold.it/1920x300" />
                {%- endif -%}
            {%- else -%}
                {%- if template contains 'product' and section.settings.bgimage_product -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_product.alt | default: shop.name }}" src="{{ section.settings.bgimage_product | img_url: 'master' }}" />
                {%- elsif template contains 'blog' and section.settings.bgimage_blog -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_blog.alt | default: shop.name }}" src="{{ section.settings.bgimage_blog | img_url: 'master' }}" />
                {%- elsif template contains 'article' and section.settings.bgimage_article -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_article.alt | default: shop.name }}" src="{{ section.settings.bgimage_article | img_url: 'master' }}" />
                {%- elsif template contains 'page' and section.settings.bgimage_page -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_page.alt | default: shop.name }}" src="{{ section.settings.bgimage_page | img_url: 'master' }}" />
                {%- elsif template contains 'page.about-us' and section.settings.bgimage_about -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_about.alt | default: shop.name }}" src="{{ section.settings.bgimage_about | img_url: 'master' }}" />
                {%- elsif template contains 'page.contact' and section.settings.bgimage_contact -%}
                    <img class="img-responsive" alt="{{ section.settings.bgimage_contact.alt | default: shop.name }}" src="{{ section.settings.bgimage_contact | img_url: 'master' }}" />
                {%- else -%}
                    {%- if section.settings.bgimage != blank -%}
                        <img class="img-responsive" alt="{{ section.settings.bgimage.alt | default: shop.name }}" src="{{ section.settings.bgimage | img_url: 'master' }}" />
                    {%- else -%}
                        <img class="img-responsive 2" alt="{{ shop.name }}" src="//placehold.it/1920x480" />
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        </div>
    {%- endif -%}
    <div class="container">
        <nav class="velaBreadcrumbWrap">
            {%- if template == 'list-collections' -%}
                <h1 class="breadcrumbHeading">{{ page_title }}</h1>
            {%- elsif template contains 'collection' -%}
                {%- if current_tags -%}
                    <h1 class="breadcrumbHeading">{{ collection.title }} &mdash; {{ current_tags | join: " + " }}</h1>
                {%- else -%}
                    <h1 class="breadcrumbHeading">{{ collection.title }}</h1>
                {%- endif -%}
            {%- elsif template contains 'page' -%}
                <h1 class="breadcrumbHeading">{{ page.title }}</h1>
            {%- elsif template contains 'product' -%}
                <h2 class="breadcrumbHeading breadcrumbHeadingProduct">{{ product.title }}</h2>
            {%- elsif template contains 'blog' -%}
                {% if current_tags %}
                    <h1 class="breadcrumbHeading">{{ blog.title }} &mdash; {{ current_tags | join: " + " }}</h1>
                {% else %}
                    <h1 class="breadcrumbHeading">{{ blog.title }}</h1>
                {% endif %}
            {%- elsif template contains 'article' -%}
                {%- comment -%}<h1 class="breadcrumbHeading breadcrumbHeadingArticle">{{ article.title }}</h1>{%- endcomment -%}
            {%- endif -%}
            <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}" itemprop="item">
                        <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                {%- if template contains 'product' -%}
                    {%- if collection -%}
                        {%- if collection.handle -%}
                            {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                    <span itemprop="name">{{ collection.title }}</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                        {%- endif -%}
                    {%- else -%}
                        {%- assign collection = product.collections | first -%}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ collection.url }}" title="{{ collection.title }}" itemprop="item">
                                <span itemprop="name">{{ collection.title }}</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                    {%- endif -%}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ product.title }}</span></span>
                        {%- if collection -%}
                            {% if collection.handle %}
                                <meta itemprop="position" content="3" />
                            {% endif %}
                        {%- else -%}
                            <meta itemprop="position" content="2" />
                        {%- endif -%}
                    </li>
                {%- elsif template contains 'collection' and collection.handle -%}
                    {%- if current_tags -%}
                        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ url }}" title="{{ collection.title }}" itemprop="item">
                                <span itemprop="name">{{ collection.title }}</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                            <meta itemprop="position" content="3" />
                        </li>
                    {%- else -%}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ collection.title }}</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    {%- endif -%}
                {%- elsif template contains 'blog' -%}
                    {%- if current_tags -%}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                                <span itemprop="name">{{ blog.title }}</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ current_tags | join: " + " }}</span></span>
                            <meta itemprop="position" content="3" />
                        </li>
                    {%- else -%}
                        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <span itemprop="item"><span itemprop="name">{{ blog.title }}</span></span>
                            <meta itemprop="position" content="2" />
                        </li>
                    {%- endif -%}
                {%- elsif template contains 'article' -%}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a href="{{ blog.url }}" title="{{ blog.title }}" itemprop="item">
                            <span itemprop="name">{{ blog.title }}</span>
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ article.title }}</span></span>
                        <meta itemprop="position" content="3" />
                    </li>
                {%- elsif template contains 'page' -%}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ page.title }}</span></span>
                        <meta itemprop="position" content="2" />
                    </li>
                {%- else -%}
                    <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="item"><span itemprop="name">{{ page_title }}</span></span>
                        <meta itemprop="position" content="2" />
                    </li>
                {%- endif -%}
            </ol>
        </nav>
    </div>
</section>
{% schema %}
    {
        "name": "Vela Breadcrumb",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "checkbox",
                "id": "enable",
                "label": "Use background image",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image (Default)",
                "info": "Default size: 1920x480 pixels"
            },
            {
                "type": "image_picker",
                "id": "bgimage_product",
                "label": "Template product",
                "info": "Background image for product page"
            },
            {
                "type": "image_picker",
                "id": "bgimage_blog",
                "label": "Template blog",
                "info": "Background image for blog page"
            },
            {
                "type": "image_picker",
                "id": "bgimage_article",
                "label": "Template article",
                "info": "Background image for article page"
            },
            {
                "type": "image_picker",
                "id": "bgimage_about",
                "label": "Template about us",
                "info": "Background image for about us page"
            },
            {
                "type": "image_picker",
                "id": "bgimage_contact",
                "label": "Template contact us",
                "info": "Background image for contact us page"
            },
            {
                "type": "image_picker",
                "id": "bgimage_page",
                "label": "Template page",
                "info": "Background image for page"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Background image",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "placeholder": "Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "bgimage",
                        "label": "Background image",
                        "info": "It will be displayed on collection page"
                    },
                    {
                        "type": "collection",
                        "id": "collection_handle",
                        "label": "Collection page"
                    }
                ]
            }
        ]
    }
{% endschema %}