<div class="velaVideo velaBlock">
    <div class="container">
        <div class="velaVideoInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div class="videoWrapper">
                    {%- if section.settings.video_url == blank -%}
                        {%- assign videoURL = '//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720' -%}
                    {%- else -%}
                        {%- assign videoURL = section.settings.video_url -%}
                    {%- endif -%}
                    {%- if section.settings.image != blank -%}
                        <a data-fancybox href="{{ videoURL }}">
                            <div class="videoThumb">
                                <img class="img-responsive" src="{{ section.settings.image | img_url:'master' }}" alt="{{ section.settings.image.alt | default: shop.name }}" />
                            </div>
                        </a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela video",
        "class": "velaFramework",
        "settings":[
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "video_url",
                "id": "video_url",
                "label": "Video link",
                "accept": ["youtube", "vimeo"]
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Video thumb"
            }
        ],
        "presets": [
            {
                "name": "Video",
                "category": "5. Vela Text"
            }
        ]
    }
{% endschema %}