<style>
  .hiddencategory{
  	display:none;
  }
</style>
<script>
  function FaqFilter(category){
    $('.a1').removeClass('hiddencategory');
    $('.a2').removeClass('hiddencategory');
    $('.a3').removeClass('hiddencategory');
    $('.a4').removeClass('hiddencategory');
    $('.a5').removeClass('hiddencategory');
    $('.a6').removeClass('hiddencategory');

    if(category == 'a1'){
      $('.a2').addClass('hiddencategory');
      $('.a3').addClass('hiddencategory');
      $('.a4').addClass('hiddencategory');
      $('.a5').addClass('hiddencategory');
      $('.a6').addClass('hiddencategory');
    }else if(category == 'a2'){
      $('.a1').addClass('hiddencategory');
      $('.a3').addClass('hiddencategory');
      $('.a4').addClass('hiddencategory');
      $('.a5').addClass('hiddencategory');
      $('.a6').addClass('hiddencategory');

    }else if(category == 'a3'){
      $('.a2').addClass('hiddencategory');
      $('.a1').addClass('hiddencategory');
      $('.a4').addClass('hiddencategory');
      $('.a5').addClass('hiddencategory');
      $('.a6').addClass('hiddencategory');

    }else if(category == 'a4'){
      $('.a2').addClass('hiddencategory');
      $('.a3').addClass('hiddencategory');
      $('.a1').addClass('hiddencategory');
      $('.a5').addClass('hiddencategory');
      $('.a6').addClass('hiddencategory');

    }else if(category == 'a5'){
      $('.a2').addClass('hiddencategory');
      $('.a3').addClass('hiddencategory');
      $('.a4').addClass('hiddencategory');
      $('.a1').addClass('hiddencategory');
      $('.a6').addClass('hiddencategory');

    }else {
      $('.a2').addClass('hiddencategory');
      $('.a3').addClass('hiddencategory');
      $('.a4').addClass('hiddencategory');
      $('.a5').addClass('hiddencategory');
      $('.a1').addClass('hiddencategory');

    }
  }
</script>
<div class="faqPageWrapper">
    {% if section.blocks.size > 0 %}
        <div id="faqs-{{ section.id }}" class="panel-group">
            {% for block in section.blocks %}
                <div class="panel {{ block.settings.category }}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a 
                                class="collapsed"
                                data-toggle="collapse" 
                                data-parent="#faqs-{{ section.id }}" 
                                href="#faq-item--{{ forloop.index }}{{ section.id }}">
                                {{ block.settings.title }}
                            </a>
                        </h4>
                    </div>
                    <div id="faq-item--{{ forloop.index }}{{ section.id }}" 
                        class="panel-collapse collapse">
                        <div class="faq-item--content">
                            {{ block.settings.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% schema %}
  	{
        "name": "Vela Faq Page",
        "settings": [
            {
                "type": "header",
                "content": "Add New Faq Item"
            }
		],
        "blocks": [
            {
                "type": "faq",
                "name": "Faq Item",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Item heading"
                    },
                    {
                        "type": "textarea",
                        "id": "content",
                        "label": "Item content"
                    },
					{			
                        "type": "text",
                        "id": "category",
                        "label": "Item Category"
                    }
                ]
            }
        ]
  	}
{% endschema %}