<div class="velaLookbook velaBlock">
    <div class="velaLookbookInner">
        {%- if section.settings.title != blank -%}
            <h3 class="velaHomeTitle">
                {{ section.settings.title }}
            </h3>
        {%- endif -%}
        {%- if section.settings.subtitle != blank -%}
            <div class="velaHomeSubTitle">
                {{ section.settings.subtitle }}
            </div>
        {%- endif -%}
        <div class="velaContent">
            <div class="proOwlCarousel owlCarouselPlay">
                <div class="owl-carousel" 
                    data-nav="false" 
                    data-margin="30" 
                    data-autoplay="false" 
                    data-autoplaytimeout="10000" 
                    data-columnone="3" 
                    data-columntwo="2" 
                    data-columnthree="1" 
                    data-columnfour="1" 
                    data-columnfive="1">
                    {%- if section.settings.image1 != blank -%}
                        <div class="text-center item">
                            <div class="velaBoxLookbook">
                                <img class="img-responsive" alt="{{ section.settings.image1.alt | default: shop.name }}" src="{{ section.settings.image1 | img_url:'master' }}" />
                                {%- assign counterItem = 0 -%}
                                {%- assign imageWidth = section.settings.image1.width -%}
                                {%- assign imageHeight = section.settings.image1.height -%}
                                {% for block in section.blocks %}
                                    {%- assign productHandle = block.settings.product -%}
                                    {%- assign lookbook = block.settings.lookbook -%}
                                    {%- assign displayType = block.settings.display -%}
                                    {%- if lookbook == 'image1' -%}
                                        {%- assign coordsX = block.settings.coordsX | plus: 0 -%}
                                        {%- assign percelX = coordsX | times: 100 | divided_by: imageWidth -%}
                                        {%- assign coordsY = block.settings.coordsY | plus: 0 -%}
                                        {%- assign percelY = coordsY | times: 100 | divided_by: imageHeight -%}
                                        {%- assign counterItem = counterItem | plus: 1 -%}
                                        {%- assign productLookbook = all_products[productHandle] -%}
                                        {%- assign on_sale = false -%}
                                        {%- if productLookbook.compare_at_price > productLookbook.price -%}
                                            {%- assign on_sale = true -%}
                                        {%- endif -%}
                                        {% include 'vela-lookbook-item' %}
                                    {%- endif -%}
                                {% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.image2 != blank -%}
                        <div class="text-center item">
                            <div class="velaBoxLookbook">
                                <img class="img-responsive" alt="{{ section.settings.image2.alt | default: shop.name }}" src="{{ section.settings.image2 | img_url:'master' }}" />
                                {%- assign counterItem = 0 -%}
                                {%- assign imageWidth = section.settings.image2.width -%}
                                {%- assign imageHeight = section.settings.image2.height -%}
                                {% for block in section.blocks %}
                                    {%- assign productHandle = block.settings.product -%}
                                    {%- assign lookbook = block.settings.lookbook -%}
                                    {%- assign displayType = block.settings.display -%}
                                    {%- if lookbook == 'image2' -%}
                                        {%- assign coordsX = block.settings.coordsX | plus: 0 -%}
                                        {%- assign percelX = coordsX | times: 100 | divided_by: imageWidth -%}
                                        {%- assign coordsY = block.settings.coordsY | plus: 0 -%}
                                        {%- assign percelY = coordsY | times: 100 | divided_by: imageHeight -%}
                                        {%- assign counterItem = counterItem | plus: 1 -%}
                                        {%- assign productLookbook = all_products[productHandle] -%}
                                        {%- assign on_sale = false -%}
                                        {%- if productLookbook.compare_at_price > productLookbook.price -%}
                                            {%- assign on_sale = true -%}
                                        {%- endif -%}
                                        {% include 'vela-lookbook-item' %}
                                    {%- endif -%}
                                {% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if section.settings.image3 != blank -%}
                        <div class="text-center item">
                            <div class="velaBoxLookbook">
                                <img class="img-responsive" alt="{{ section.settings.image3.alt | default: shop.name }}" src="{{ section.settings.image3 | img_url:'master' }}" />
                                {%- assign counterItem = 0 -%}
                                {%- assign imageWidth = section.settings.image3.width -%}
                                {%- assign imageHeight = section.settings.image3.height -%}
                                {% for block in section.blocks %}
                                    {%- assign productHandle = block.settings.product -%}
                                    {%- assign lookbook = block.settings.lookbook -%}
                                    {%- assign displayType = block.settings.display -%}
                                    {%- if lookbook == 'image3' -%}
                                        {%- assign coordsX = block.settings.coordsX | plus: 0 -%}
                                        {%- assign percelX = coordsX | times: 100 | divided_by: imageWidth -%}
                                        {%- assign coordsY = block.settings.coordsY | plus: 0 -%}
                                        {%- assign percelY = coordsY | times: 100 | divided_by: imageHeight -%}
                                        {%- assign counterItem = counterItem | plus: 1 -%}
                                        {%- assign productLookbook = all_products[productHandle] -%}
                                        {%- assign on_sale = false -%}
                                        {%- if productLookbook.compare_at_price > productLookbook.price -%}
                                            {%- assign on_sale = true -%}
                                        {%- endif -%}
                                        {% include 'vela-lookbook-item' %}
                                    {%- endif -%}
                                {% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela Lookbook",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "image_picker",
                "id": "image1",
                "label": "Lookbook image 1"
            },
            {
                "type": "image_picker",
                "id": "image2",
                "label": "Lookbook image 2"
            },
            {
                "type": "image_picker",
                "id": "image3",
                "label": "Lookbook image 3"
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Choose product"
                    },
                    {
                        "type": "select",
                        "id": "lookbook",
                        "label": "Choose lookbook",
                        "default": "image1",
                        "options": [
                            {
                                "value": "image1",
                                "label": "Lookbook image 1"
                            },
                            {
                                "value": "image2",
                                "label": "Lookbook image 2"
                            },
                            {
                                "value": "image3",
                                "label": "Lookbook image 3"
                            }
                        ]
                    },
                    {
                        "type": "select",
                        "id": "display",
                        "label": "Display type",
                        "default": "topLeft",
                        "options": [
                            {
                                "value": "topLeft",
                                "label": "Top Left"
                            },
                            {
                                "value": "topRight",
                                "label": "Top Right"
                            },
                            {
                                "value": "centerLeft",
                                "label": "Center Left"
                            },
                            {
                                "value": "centerRight",
                                "label": "Center Right"
                            },
                            {
                                "value": "bottomLeft",
                                "label": "Bottom Left"
                            },
                            {
                                "value": "bottomRight",
                                "label": "Bottom Right"
                            }
                        ]
                    },
                    {
                        "type": "text",
                        "id": "coordsX",
                        "label": "X coordinates"
                    },
                    {
                        "type": "text",
                        "id": "coordsY",
                        "label": "Y coordinates"
                    },
                    {
                       "type": "paragraph",
                       "content": "How to [get image coordinates ?](http://velatheme.com/get-image-coordinates/)"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Lookbook",
                "category": "4. Vela Image"
            }
        ]
    }
{% endschema %}