<div class="velaMultiBanner velaBlock">
    <div class="container">
        <div class="velaMultiBannerInner">
            <div class="velaContent">
                {%- if section.blocks.size > 0 -%}
                    <div class="rowFlex rowFlexMargin flexJustifyCenter">
                        {% for block in section.blocks %}
                            <div class="{{ section.settings.class }}">
                                <div class="velaBanner">
                                    <div class="{{ section.settings.effect }}">
                                        {%- if block.settings.link != blank -%}
                                            <a href="{{ block.settings.link }}" title="{{ block.settings.image.alt | default: shop.name }}">
                                        {%- endif -%}
                                            {%- if block.settings.image != blank -%}
                                                <img class="img-responsive" alt="{{ block.settings.image.alt | default: shop.name }}" src="{{ block.settings.image | img_url:'master' }}" />
                                            {%- else -%}
                                                <img class="img-responsive" alt="{{ shop.name }}" src="//placehold.it/1170x400" />
                                            {%- endif -%}
                                        {%- if block.settings.link != blank -%}
                                            </a>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela Multiple Banner",
        "class": "velaFramework",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "class",
                "label": "Class name",
                "default": "col-xs-12 col-sm-3",
                "info": "Grid class bootstrap"
            },
            {
                "type": "select",
                "id": "effect",
                "label": "Effect",
				"default": "effectOne",
                "options": [
					{
                        "value": "effectNone",
                        "label": "None"
                    },
                    {
                        "value": "effectOne",
                        "label": "Effect one"
                    },
                    {
                        "value": "effectTwo",
                        "label": "Effect two"
                    },
                    {
                        "value": "effectThree",
                        "label": "Effect three"
                    },
                    {
                        "value": "effectFour",
                        "label": "Effect four"
                    },
                    {
                        "value": "effectFive",
                        "label": "Effect five"
                    },
                    {
                        "value": "effectSix",
                        "label": "Effect six"
                    }
                ]
            }
        ],
        "blocks": [
            {
                "type": "item",
                "name": "Banner image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Banner image"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Image URL"
                    }
                ]
            }
        ],
		"presets": [
            {
                "name": "Multiple banner",
                "category": "4. Vela Image"
            }
        ]
    }
{% endschema %}