{%- assign intProColumns = section.settings.collection_product_columns | plus:0 -%}
{%- assign intProPaginate = section.settings.collection_product_page | plus:0 -%}
{%- assign strColumn = 12 | divided_by:intProColumns -%}
{%- if intProColumns == 5 -%}
    {% capture strGridItem %}col-xs-6 col-md-2-4{% endcapture %}
{%- else -%}
    {% capture strGridItem %}col-xs-6 col-md-{{ strColumn }}{% endcapture %}
{%- endif -%}
{%- unless collectionLayout -%}
    {%- assign collectionLayout = 'grid' -%}
{%- endunless -%}
{%- if section.settings.product_image_size != blank -%}
    {%- assign proImageSize = section.settings.product_image_size -%}
{%- else -%}
    {%- assign proImageSize = 'master' -%}
{%- endif -%}
{% paginate collection.products by intProPaginate %}
    {%- if section.settings.collection_image or section.settings.collection_description -%}
        <div class="collBoxTop">
            {%- comment -%}<h1 class="headerCollection">{{ collection.title }}</h1>{%- endcomment -%}
            {%- if section.settings.collection_image and collection.image -%}
                <div class="collImage">
                    <a href="{{ collection.url }}">
                        <img class="img-responsive" alt="{{ collection.title }}" src="{{ collection.image | collection_img_url: 'master' }}" />
                    </a>
                </div>
            {%- endif -%}
            {%- if section.settings.collection_description and collection.description != blank -%}
                <div class="collDescription">
                    <div class="rte">
                        {{ collection.description }}
                    </div>
                </div>
            {%- endif -%}
        </div>
    {%- endif -%}
    {%- unless template contains '.fullwidth' -%}
        <div class="collBoxSort">
            {% include 'collection-sorting' %}
        </div>
<div class="extend-line"></div>
    {%- endunless -%}
    <div class="collBoxProducts">
        {% if template contains ".list" %}
            {% include 'vela-collection-list' %}
        {% else %}
            {% include 'vela-collection-grid' %}
        {% endif %}
    </div>
    {% if paginate.pages > 1 %}
        <div id="collPagination">
            {% include 'vela-pagination' %}
        </div>
    {% endif %}
{% endpaginate %}
{% schema %}
    {
        "name": "Vela Collection Page",
        "settings": [
            {
                "type": "header",
                "content": "Settings"
            },
            {
                "type": "text",
                "id": "collection_product_columns",
                "label": "Number of products in a row",
                "placeholder": "Example: 4",
                "default": "4"
            },
            {
                "type": "text",
                "id": "collection_product_page",
                "label": "Number of products in a page",
                "placeholder": "Example: 12",
                "default": "12"
            },
            {
                "type": "text",
                "id": "product_image_size",
                "label": "Product image size",
                "default": "500x",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "checkbox",
                "id": "collection_image",
                "label": "Show collection image"
            },
            {
                "type": "checkbox",
                "id": "collection_description",
                "label": "Show collection description"
            }
        ]
    }
{% endschema %}