{%- assign owlColumn1 = section.settings.column1 | plus:0 -%}
{%- assign owlColumn2 = section.settings.column2 | plus:0 -%}
{%- assign owlColumn3 = section.settings.column3 | plus:0 -%}
{%- assign owlColumn4 = section.settings.column4 | plus:0 -%}
{%- assign owlColumn5 = section.settings.column5 | plus:0 -%}
{%- assign blogLimit = section.settings.limit | plus:0 -%}
{%- assign blogImageSize = section.settings.image_size -%}
{%- assign blogName = section.settings.blog_handle -%}
{%- if section.settings.bgimage != blank -%}
    {%- capture bgImage -%}style="background-image: url({{ section.settings.bgimage | img_url: 'master' }});"{%- endcapture -%}
{%- endif -%}
<div class="velaHomeBlogs velaBlock" {{ bgImage }}>
    <div class="container">
        <div class="velaHomeBlogsInner">
            {%- if section.settings.title != blank -%}
                <h3 class="velaHomeTitle">
                    {{ section.settings.title }}
                </h3>
            {%- endif -%}
            {%- if section.settings.subtitle != blank -%}
                <div class="velaHomeSubTitle">
                    {{ section.settings.subtitle }}
                </div>
            {%- endif -%}
            <div class="velaContent">
                <div class="velaOwlRow owlCarouselPlay">
                    <div class="owl-carousel"
                        data-nav="{{ section.settings.navigation }}"
                        data-margin="{{ section.settings.margin }}"
                        data-loop="{{ section.settings.loop }}"
                        data-autoplay="{{ section.settings.autoplay }}"
                        data-autoplaytimeout="{{ section.settings.autoplay_timeout }}"
                        data-columnone="{{ owlColumn1 }}"
                        data-columntwo="{{ owlColumn2 }}"
                        data-columnthree="{{ owlColumn3 }}"
                        data-columnfour="{{ owlColumn4 }}"
                        data-columnfive="{{ owlColumn5 }}">
                        {% for article in blogs[blogName].articles limit:blogLimit %}
                            <div class="velaBlogItem">
                                {% if section.settings.image_featured %}
                                    {% if article.image %}
                                        <div class="blogPostImage">
                                            <img class="img-responsive" src="{{ article.image | img_url: blogImageSize }}" alt="{{ article.title }}" />
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="blogPostContent">
                                    <div class="blogPostMeta">
                                        {%- capture topic -%}{{ blogs[blogName].title }}{%- endcapture -%}
                                        {%- capture date -%}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%b %d, %Y' }}</time>{%- endcapture -%}
                                        {{ 'blogs.article.topic_on_date_html' | t:topic: topic, date: date }}
                                    </div>
                                    <h3 class="blogPostTitle"><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                    {%- comment -%}
                                        <div class="blogPostShortdesc rte">
                                            {% if article.excerpt.size > 0 %}
                                                {{ article.excerpt }}
                                            {% else %}
                                                <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                                            {% endif %}
                                        </div>
                                    {%- endcomment -%}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Vela blogs",
        "class": "velaFramework",
        "settings":[
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "image_picker",
                "id": "bgimage",
                "label": "Background image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subheading",
                "placeholder": "Subheading"
            },
            {
                "type": "blog",
                "id": "blog_handle",
                "label": "Blog"
            },
            {
                "type": "checkbox",
                "id": "image_featured",
                "label": "Show featured image",
                "default": true
            },
            {
                "type": "text",
                "id": "image_size",
                "label": "Featured image size",
                "default": "480x",
                "info": "[Size parameters](https://help.shopify.com/themes/liquid/filters/url-filters#size-parameters)"
            },
            {
                "type": "header",
                "content": "Carousel Settings"
            },
            {
                "type": "text",
                "id": "margin",
                "label": "Margin",
                "default": "30",
                "info": "Margin-right(px) on item."
            },
            {
                "type": "text",
                "id": "limit",
                "label": "Limit",
                "default": "8"
            },
            {
                "type": "checkbox",
                "id": "navigation",
                "label": "Show navigation",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Infinity loop",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Auto play",
                "default": false
            },
            {
                "type": "text",
                "id": "autoplay_timeout",
                "label": "Autoplay timeout",
                "placeholder": "Default: 10000(ms)",
                "info": "Autoplay interval timeout.",
                "default": "10000"
            },
            {
                "type": "range",
                "id": "column1",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 1",
                "default": 4,
                "info": "Large desktops"
            },
            {
                "type": "range",
                "id": "column2",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 2",
                "default": 3,
                "info": "Desktops & Tablets landscape"
            },
            {
                "type": "range",
                "id": "column3",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 3",
                "default": 2,
                "info": "Tablets"
            },
            {
                "type": "range",
                "id": "column4",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 4",
                "default": 2,
                "info": "Mobile phone landscape"
            },
            {
                "type": "range",
                "id": "column5",
                "min": 1,
                "max": 5,
                "step": 1,
                "label": "#Column 5",
                "default": 1,
                "info": "Mobile phone"
            }
        ],
        "presets": [
            {
                "name": "Blog posts",
                "category": "3. Vela Blog",
                "settings": {
                    "title": "Blogs on Homepage",
					"blog_handle": "news"
                }
            }
        ]
    }
{% endschema %}