{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="velaArticleWrap">
            {% section 'vela-template-article' %}
        </div>
    </div>
</section>