{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="pageCollectionInner">
            <div class="row">
              {% comment %}
                <aside id="velaSidebar" class="velaSidebar col-xs-12 col-sm-4 col-md-3">
                    {% section 'sidebartop' %}
                    {% section 'sidebartag' %}
                    {% section 'sidebarbottom' %}
                </aside>
                            {% endcomment %}

                <div id="proListCollection" class="velaCenterColumn col-xs-12 col-sm-8 col-md-9">
                    {% section 'vela-template-collection' %}
                </div>
            </div>
        </div>
    </div>
</section>