{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="velaCollectionsWrapper">
            {% section 'vela-template-collections' %}
        </div>
    </div>
</section>