<style>
  .slick-dots{
  	bottom: -30px !important;
  }
  .slick-dots>li.slick-active>button{
  	background-color:#f2f2f2 !important;
  }
  .slick-dots>li>button{
  	border:2px solid #f2f2f2 !important;
  }
</style>
<section id="pageContent">
        <div class="pageContainer">
            {%- comment -%}<h1 class="velaPageTitle">{{ page.title }}</h1>{%- endcomment -%}
            <div class="pageContent">
                <div class="rte">
                    {% section 'dtla-slideshow' %}
                  {% section 'dtla-slideshow-mobile' %}
                                    {% section 'dtla-richtext' %}
                                    {% section 'dtla-video' %}


                    {% section 'dtla-textimg2' %}
 					{% section 'dtla-textimg' %}
                   {% section 'dtla-textimg4' %}
                   {% section 'dtla-textimg3' %}
                                     {% section 'dtla-banner' %}

                </div>
            </div>
        </div>
</section>