{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="pageContainer velaPageContainer">
            {%- comment -%}<h1 class="velaPageTitle">{{ page.title }}</h1>{%- endcomment -%}
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
    {% section 'vela-slideshow' %}
    {% section 'vela-richtext' %}
    {% section 'vela-collections' %}
    {% section 'vela-producttab' %}
    {% section 'vela-blog' %}
    {% section 'vela-multi-banner' %}
    {% section 'vela-instagram' %}
    {% section 'vela-productlist' %}
    {% section 'vela-lookbook' %}
    {% section 'vela-banner' %}
    {% section 'vela-html' %}
    {% section 'vela-productloadmore' %}
    {% section 'vela-video' %}
    {% section 'vela-logolist' %}
    {% section 'vela-testimonials' %}
    {% section 'vela-newsletter' %}
    {% section 'vela-services' %}
</section>