<section id="pageContent" class="velaBorderTop">
    <div class="container">
        <div class="pageContainer velaPageContainer" style="padding: 30px 0">
            {%- comment -%}<h1 class="velaPageTitle">{{ page.title }}</h1>{%- endcomment -%}
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>