<style>
  	.mainContent{
    	background-color:#fff;
      padding-bottom:30px;
    }
  .active{
    text-decoration:underline;
  }
  .sidea{
    padding:5px 0 !important;
  }
</style>
<section class="velaBreadcrumbs">
	<div class="velaBreadcrumbImage">
		<img class="img-responsive banner-dekstop bred" alt="{{ section.settings.bgimage.alt | default: shop.name }}" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_main_02.jpg?8941148061847828420" />
      	<img class="img-responsive banner-mobile bred" alt="{{ section.settings.bgimage.alt | default: shop.name }}" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/contactus_mobile_1.jpg?14388286932800154254" />
	</div>
</section>


<div class="container subPage">
<section class="col-xs-12 col-sm-12 col-md-3 subDesk">

 		 <div style="margin:2em 0">
        <ul class="nav memoNav">
            {%- for velaLink in linklists.side.links -%} {%- if velaLink.links != blank -%}
            <li class="hasMemoDropdown{% if velaLink.active %} active{% endif %}">
                <a class="sidea" style="font-size:16px; font-weight:400" class="collapsed memoBtnDropdown-custom" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}">{{ velaLink.title }}
                  <span><i class="fa fa-angle-down"></i></span></a>

                <ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                    {%- assign ifor = forloop.index -%} {%- for velaLink1 in velaLink.links -%} {%- if velaLink1.links != blank -%}
                    <li class="hasMemoDropdown{% if velaLink1.active %} active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                        <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i
                                class="fa fa-angle-down"></i></span>
                        <ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                            {%- assign ifor1 = forloop.index -%} {%- for velaLink2 in velaLink1.links -%} {%- if velaLink2.links != blank -%}
                            <li class="hasMemoDropdown{% if velaLink2.active %} active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i
                                        class="fa fa-angle-down"></i></span>
                                <ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
                                    {%- for velaLink3 in velaLink2.links -%}
                                    <li class="{% if velaLink3.active %}active{% endif %}">
                                        <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- else -%}
                            <li class="{% if velaLink2.active %}active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                            </li>
                            {%- endif -%} {%- endfor -%}
                        </ul>
                    </li>
                    {%- else -%}
                    <li class="{% if velaLink1.active %}active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}
                </ul>
            </li>
            {%- else -%}
            <li class="{% if velaLink.active %}active{% endif %}">
                <a class="sidea" style="font-size:16px; font-weight:400" href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
            </li>
            {%- endif -%} {%- endfor -%}
        </ul>
    </div>
   		 <div style="margin:2em 0">
        <ul class="nav memoNav">
            {%- for velaLink in linklists.about.links -%} {%- if velaLink.links != blank -%}
            <li class="hasMemoDropdown{% if velaLink.active %} active{% endif %}">
                <a class="sidea" style="font-size:16px; font-weight:400" class="collapsed memoBtnDropdown-custom" data-toggle="collapse" data-target="#memoDropdown1{{ forloop.index }}">{{ velaLink.title }}
                  <span><i class="fa fa-angle-down"></i></span></a>

                <ul id="memoDropdown1{{ forloop.index }}" class="memoDropdown collapse">
                    {%- assign ifor = forloop.index -%} {%- for velaLink1 in velaLink.links -%} {%- if velaLink1.links != blank -%}
                    <li class="hasMemoDropdown{% if velaLink1.active %} active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                        <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown2{{ ifor }}{{ forloop.index }}"><i
                                class="fa fa-angle-down"></i></span>
                        <ul id="memoDropdown2{{ ifor }}{{ forloop.index }}" class="memoDropdown collapse">
                            {%- assign ifor1 = forloop.index -%} {%- for velaLink2 in velaLink1.links -%} {%- if velaLink2.links != blank -%}
                            <li class="hasMemoDropdown{% if velaLink2.active %} active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                                <span class="memoBtnDropdown collapsed" data-toggle="collapse" data-target="#memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}"><i
                                        class="fa fa-angle-down"></i></span>
                                <ul id="memoDropdown3{{ ifor }}{{ ifor1 }}{{ forloop.index }}" class="memoDropdown collapse">
                                    {%- for velaLink3 in velaLink2.links -%}
                                    <li class="{% if velaLink3.active %}active{% endif %}">
                                        <a href="{{ velaLink3.url }}" title="">{{ velaLink3.title }}</a>
                                    </li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                            {%- else -%}
                            <li class="{% if velaLink2.active %}active{% endif %}">
                                <a href="{{ velaLink2.url }}" title="">{{ velaLink2.title }}</a>
                            </li>
                            {%- endif -%} {%- endfor -%}
                        </ul>
                    </li>
                    {%- else -%}
                    <li class="{% if velaLink1.active %}active{% endif %}">
                        <a href="{{ velaLink1.url }}" title="">{{ velaLink1.title }}</a>
                    </li>
                    {%- endif -%} {%- endfor -%}
                </ul>
            </li>
            {%- else -%}
            <li class="{% if velaLink.active %}active{% endif %}">
                <a class="sidea" style="font-size:16px; font-weight:400" href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
            </li>
            {%- endif -%} {%- endfor -%}
        </ul>
    </div>
</section>
  
<section id="pageContent" class="col-xs-12 col-sm-12 col-md-9 subMobile">
    {{ page.content }}
                    {% section 'vela-template-faq' %}

</section>
</div>
