{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="pageContainer">
        {% section 'vela-template-about' %}
        {% section 'vela-about-services' %}
        {% section 'vela-about-text' %}
        {% section 'vela-about-team' %}
    </div>
</section>
