<style>
* {box-sizing: border-box}
body{
  color:#000;
}
  
.cielButton{
	text-align:center;
  margin:10px 0;
}
  
  .cielTitle{
    font-weight:600;
    	text-align:center;
    white-space:nowrap;

  }
  .cielSub{
    font-size:2em;
    font-weight:400;
    	text-align:center;

  }
  .ciel-top-margin{
  	margin-top:40px;
    margin-bottom:20px;
  }
  
  .cielName{
  	font-size:1.25em;
  }
  .cielPrice{
    font-size:1.25em;
    font-weight:600;
  }
    .img-responsive-ciel{
      display: block;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .cielButton>img{
  	width:30px;
    height:30px;
  }
  
@media (min-width:769px) {
  .cielTitle{
    font-size:3em;}

  .container{
    width:60%;}
    .cielSub{
      font-size:2em;}
}  
@media (max-width:768px) {
  .cielTitle{
    font-size:2.5em;}
  .container{
    width:80%;}
    .cielSub{
      font-size:1.5em;}
}
</style>

<section id="cielSection">
    {% section 'vela-slideshow-ciel' %}
	{% section 'ciel-slideshow-mobile' %}
    <div class="container">
    <div class="row ciel-top-margin">
        <div class="col-xs-12">
            <div class="cielTitle">Galaxy Note 9</div>
            <div class="cielSub">Collection</div>
        </div>
      
      
        <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_05.png?8547646856784035026" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="https://www.cielbycyrill.com/products/galaxy-note-9-cecile-clear-case">Galaxy
                            Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Matte_Black.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Powder_Blue.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/White_Marble.png?6389341032565358837">

                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
      
      
        <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="https://www.cielbycyrill.com/products/galaxy-note-9-cecile-clear-case">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_07.png?6389341032565358837" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="https://www.cielbycyrill.com/products/galaxy-note-9-cecile-clear-case">Galaxy
                            Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Crystal_Clear.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Glitter_91fff08c-d8be-42b4-9ec4-546b83413bc8.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Pineapple_1bc3ccae-82ec-40cb-8b28-dedb2702c47a.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Rose_Floral.png?6389341032565358837">


                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
         <div class="col-xs-12">
            <div class="cielTitle">Galaxy S9</div>
            <div class="cielSub">Collection</div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_11.png?6389341032565358837" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="">Galaxy Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Baby_Pink.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Powder_Blue.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/White_Marble.png?6389341032565358837">

                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
         <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_12.png?6389341032565358837" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="">Galaxy Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Check_Glitter.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Floral.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Lilac_Purple_Glitter.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Glitter_91fff08c-d8be-42b4-9ec4-546b83413bc8.png?6389341032565358837">


                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <div class="row">
         <div class="col-xs-12">
            <div class="cielTitle">Galaxy S9 Plus</div>
            <div class="cielSub">Collection</div>
        </div>
         <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_15.png?6389341032565358837" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="">Galaxy Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Baby_Pink.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Powder_Blue.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/White_Marble.png?6389341032565358837">

                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
         <div class="col-xs-12 col-lg-6">
            <div class="velaProBlock">
                <div class="proHImage">
                    <a class="proFeaturedImage" href="">
                        <img class="img-responsive pro-bg" src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_new_ciel2_16.png?6389341032565358837" />
                    </a>
                </div>
                <div class="proContent">

                    <h4 class="proName">
                        <a class="cielName" href="">Galaxy Note 9 Ceile Crystal Clear </a>
                    </h4>
                    <div class="cielButton">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Check_Glitter.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Floral.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Lilac_Purple_Glitter.png?6389341032565358837">
                        <img src="https://cdn.shopify.com/s/files/1/0015/1810/8724/files/Glitter_91fff08c-d8be-42b4-9ec4-546b83413bc8.png?6389341032565358837">



                    </div>
                    <div class="proPrice">
                        <div class="cielPrice">$14.99</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

  {% comment %}
    {% section 'vela-instagram' %}
      {% endcomment %}


</section>