<style>

  .swatch input:checked+label {
    -webkit-box-shadow:none;
    /* box-shadow: none*/
    border-color: none;}
  .swatch .swatch-element.color label:before { border:none}

 
  .cielHeader {
    display: block;
    height: 25px;
  	width: 100%;
    background-color: black;
  }
  .cielHeaderLogo{
    text-align: center;
    padding: 5px 0;
  }
  .cielFooter{
   	padding:30px 0;
    background-color: rgb(213, 213, 213);
    display: flex;
  }
  .cielFooterContainer{
  	margin: 0 auto;
  }
  .cielInstaFont{
    font-size: 1.3em;
    margin-left:5px;
  }
  .cielFooter3InstaImg{
  	width:150px;
    margin:5px;
  }
  .cielFooter1, .cielFooter2, .cielFooter3 {
    float:left;
    padding: 5% 90px;
    
  }
  .cielFooter3 {
    margin-top:-45px;
  }

</style>

{% include 'breadcrumb' %}
<section id="pageContent" > 
    <div class="container">
        <div class="pageContainer velaPageContainer">
            {%- comment -%}<h1 class="velaPageTitle">{{ page.title }}</h1>{%- endcomment -%}
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>