<style>

  .swatch input:checked+label {
    -webkit-box-shadow:none;
    /* box-shadow: none*/
    border-color: none;}
  .swatch .swatch-element.color label:before { border:none}
  .ciel-select, .proButton{
    display:none;
  }

</style>

{% assign current_variant = product.selected_or_first_available_variant %}

<section id="pageContent" class="velaBorderTop">
    <div class="container">
        {% section 'vela-template-product' %}
    </div>  
</section>


<script>
    var selectCallback = function(variant, selector) {
        if (variant) {
  		$('.variant-sku').text(variant.sku);
      
		//스큐에 따른 링크를 불러오는 파일      
		{% include 'changelink' %}     
    }
	else {
  		$('.variant-sku').empty();
	}
        vela.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
        });
    };
    $(document).ready(function() {
        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });
        {% if product.available and product.options.size > 1 %}
            if (!window.swatch_show_unvailable) {
                Shopify.linkOptionSelectors({{ product | json }});
            } else if (window.swatch_enable) {
            Shopify.linkOptionSelectors({{ product | json }});
            }
        {% endif %}
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            $('.swatch').hide();
        {% endif %}
        $('.velaProductNavTabs li:first, .proDetailInfo .tab-content .tab-pane:first').addClass('active');
        $('.proDetailInfo .velaPanel:first .panel-collapse').addClass('in');
    });
</script>
