{% assign current_variant = product.selected_or_first_available_variant %}
<section id="pageContent" class="velaBorderTop">

        {% section 'vela-template-product' %}

</section>
<script>
    var selectCallback = function(variant, selector) {
        vela.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
        });
    };
    $(document).ready(function() {
        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });

        {% if product.available and product.options.size > 1 %}
            if (!window.swatch_show_unvailable) {
                Shopify.linkOptionSelectors({{ product | json }});
            } else if (window.swatch_enable) {
            	Shopify.linkOptionSelectors({{ product | json }});
            }
        {% endif %}
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            $('.swatch').hide();
        {% endif %}
        $('.velaProductNavTabs li:first, .proDetailInfo .tab-content .tab-pane:first').addClass('active');
        $('.proDetailInfo .velaPanel:first .panel-collapse').addClass('in');
    });
  
  
        function changedevice(de) {
        console.log(de);
          if(de == 101) window.open('https://www.cyrillcase.com/products/dtla-love-iphone-x',"_self");
          if(de == 102) window.open('https://www.cyrillcase.com/products/dtla-love-iphone-8',"_self");
          if(de == 103) window.open('https://www.cyrillcase.com/products/dtla-love-iphone-8-plus',"_self");
          if(de == 201) window.open('https://www.cyrillcase.com/products/dtla-hello-iphone-x',"_self");
          if(de == 202) window.open('https://www.cyrillcase.com/products/dtla-hello-iphone-8',"_self");
          if(de == 203) window.open('https://www.cyrillcase.com/products/dtla-hello-iphone-8-plus',"_self");
          if(de == 301) window.open('https://www.cyrillcase.com/products/dtla-angelenos-iphone-x',"_self");
          if(de == 302) window.open('https://www.cyrillcase.com/products/dtla-angelenos-iphone-8',"_self");
          if(de == 303) window.open('https://www.cyrillcase.com/products/dtla-angelenos-iphone-8-plus',"_self");
          if(de == 401) window.open('https://www.cyrillcase.com/products/dtla-los-angeles-iphone-x',"_self");
          if(de == 402) window.open('https://www.cyrillcase.com/products/dtla-los-angeles-iphone-8',"_self");
          if(de == 403) window.open('https://www.cyrillcase.com/products/dtla-los-angeles-iphone-x-1',"_self");

      };
</script>
