{%- assign respond_js_secret_key = shop.domain | md5 -%}
{%- assign proImageSize = '600x' -%}
{% unless search.terms == respond_js_secret_key %}
    <section id="pageContent" class="pageSearchContent">
        <div class="container">
            <div class="velaSearchContainer">
                {% paginate search.results by 12 %}
                    {%- if search.performed -%}
                        {%- if search.results_count == 0 -%}
                            <h1 class="velaSearchTitle">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
                        {%- else -%}
                            <h1 class="velaSearchTitle">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
                        {%- endif -%}
                    {%- else -%}
                        <h1 class="velaSearchTitle">{{ 'general.search.title' | t }}</h1>
                    {%- endif -%}
                    <form class="formSearchPage" action="/search" method="get">
                        <input type="hidden" name="type" value="product" />
                        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="formSearchPageInput form-control" />
                        <button type="submit" class="btn formSearchPageButton">
                            <span class="searchPageButtonText">{{ 'general.search.submit' | t }}</span>
                        </button>
                    </form>
                    {%- if search.performed -%}
                        <div class="proList grid">
                            <div class="velaFlexRow flexRow">
                                {% for product in search.results %}
                                    {% include 'product-grid-item' with 'col-xs-12 col-sm-6 col-md-3' %}
                                {% endfor %}
                            </div>
                        </div>
                    {%- endif -%}
                    {%- if paginate.pages > 1 -%}
                        <div class="searchPagination">
                            {% include 'vela-pagination' %}
                        </div>
                    {%- endif -%}
                {% endpaginate %}
            </div>
        </div>
    </section>
{% else %}
    {% include 'respond' %}
    {% layout none %}
{% endunless %}